<div class="imgContainer flex justify-content-center align-items-center">

  <img
    *ngIf="content.contentType === 'image' && !imageError"
    class="myImg noselect"
    [src]="'/collections/' + collectionId + '/' + utils.uriEncodeFilename(content.contentFile)"
    (error)="onImageError()"
    draggable="false">

  <img
    *ngIf="content.contentType === 'encryptedZipEntry'"
    class="myImg noselect"
    src="/resources/zip_icon_locked.png"
    draggable="false">

  <img
    *ngIf="content.contentType === 'unsupportedZipEntry'"
    class="myImg noselect"
    src="/resources/zip_icon_unknown.png"
    draggable="false">

  <img
    *ngIf="content.contentType === 'encryptedRarEntry'"
    class="myImg noselect"
    src="/resources/rar_icon_locked.png"
    draggable="false">

  <img
    *ngIf="content.contentType === 'encryptedRarTable'"
    class="myImg noselect"
    src="/resources/rar_icon_locked.png"
    draggable="false">

  <img
    *ngIf="content.contentType === 'hash' && content.hashType === 'md5'"
    class="myImg noselect"
    src="/resources/md5_hash_icon.png"
    draggable="false">

  <img
    *ngIf="content.contentType === 'hash' && content.hashType === 'sha1'"
    class="myImg noselect"
    src="/resources/sha1_hash_icon.png"
    draggable="false">

  <img
    *ngIf="content.contentType === 'hash' && content.hashType === 'sha256'"
    class="myImg noselect"
    src="/resources/sha256_hash_icon.png"
    draggable="false">

  <div
    *ngIf="content.contentType === 'image' && imageError"
    style="color: red; text-align: center;">

      <h1>Image Load Error</h1>

      <img
        class="myImg noselect"
        src="/resources/error_icon.png"
        draggable="false">

      <h1>Image Load Error</h1>

  </div>

  <div style="text-align: center; color: white; max-width: 50%;">

    <div style="text-align: left;">

      <div *ngIf="content.contentType === 'encryptedRarEntry' || content.contentType === 'encryptedZipEntry'">

        <h3>Encrypted file within a {{content.archiveType.toUpperCase()}} archive</h3>

      </div>

      <div *ngIf="content.contentType === 'unsupportedZipEntry'">

        <h3>Unsupported ZIP format</h3>

      </div>

      <div *ngIf="content.contentType === 'encryptedRarTable'">

        <h3>RAR archive has an encrypted table</h3>

      </div>

      <div *ngIf="content.contentType === 'hash'">

        <h3>Found executable matching {{content.hashType?.toUpperCase()}} hash value</h3>

      </div>

      <div *ngIf="content.contentType === 'pdf' && content.textDistillationEnabled && content.textTermsMatched && content.textTermsMatched.length > 0">

        <h3>Found PDF document containing text term</h3>

      </div>

      <div *ngIf="content.contentType === 'office' && content.textDistillationEnabled && content.textTermsMatched && content.textTermsMatched.length > 0">
        
        <h3>Found Office {{utils.capitalizeFirstLetter(content.contentSubType)}} document containing text term</h3>

      </div>

      <div *ngIf="content.contentType === 'pdf' && content.regexDistillationEnabled && content.regexTermsMatched && content.regexTermsMatched.length > 0">

        <h3>Found PDF document matching Regex term</h3>

      </div>

      <div *ngIf="content.contentType === 'office' && content.regexDistillationEnabled && content.regexTermsMatched && content.regexTermsMatched.length > 0">

        <h3>Found Office {{utils.capitalizeFirstLetter(content.contentSubType)}} document matching Regex term</h3>

      </div>
      
    </div>

    <table
      *ngIf="content.contentType !== 'image'"
      class="selectable">

        <tr *ngIf="content.contentType === 'hash'">

          <td class="column1">
            {{content.hashType?.toUpperCase()}} Hash:
          </td>

          <td class="value">
            {{content.hashValue}}
          </td>

        </tr>

        <tr *ngIf="content.contentType === 'hash' && content.hashFriendly">

          <td class="column1">
            {{content.hashType?.toUpperCase()}} Description:
          </td>

          <td class="value">
            {{content.hashFriendly}}
          </td>

        </tr>

        <tr *ngIf="content.contentType === 'hash'">

          <td class="column1">
            Filename:
          </td>

          <td class="value">
            {{utils.pathToFilename(content.contentFile)}}
          </td>

        </tr>

        <tr *ngIf="content.contentType === 'encryptedZipEntry' || content.contentType === 'encryptedRarEntry'">

          <td class="column1">
            Encrypted File:
          </td>

          <td class="value">
            {{utils.pathToFilename(content.contentFile)}}
          </td>

        </tr>

        <tr *ngIf="content.isArchive">

          <td class="column1">
            Archive File:
          </td>

          <td class="value">
            {{utils.pathToFilename(content.contentFile)}}
          </td>

        </tr>

        <tr *ngIf="content.fromArchive && content.archiveFilename">

          <td class="column1">
            Archive Filename:
          </td>

          <td class="value">
            {{utils.pathToFilename(content.archiveFilename)}}
          </td>

        </tr>

        <tr *ngIf="content.textDistillationEnabled && content.textTermsMatched && content.textTermsMatched.length > 0">

          <td class="column1">
            Matched Text:
          </td>

          <td class="value">
            {{content.textTermsMatched}}
          </td>

        </tr>

        <tr *ngIf="content.regexDistillationEnabled && content.regexTermsMatched && content.regexTermsMatched.length > 0">

          <td class="column1">
            Matched RegEx:
          </td>

          <td class="value">
            {{content.regexTermsMatched}}
          </td>

        </tr>

    </table>

  </div>

</div>