[Unit]
Description=221B-Nginx - high performance web server
Documentation=https://knowledgekta.com
After=network-online.target remote-fs.target nss-lookup.target docker.service
Wants=network-online.target
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop 221b-nginx
ExecStart=/usr/bin/docker start -a 221b-nginx
ExecReload=/usr/bin/docker kill -s HUP 221b-nginx
ExecStop=/usr/bin/docker stop 221b-nginx

[Install]
WantedBy=local.target