ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  word-wrap: break-word;
}

bold {
  font-weight: bold;
}

.fa-lg-mod {
  font-size: 1.25em;
}

.multipleValues {
  text-overflow: ellipsis;
}