<modal
  id="{{id}}"
  class="confirm-nwserver-delete-modal"
  (opened)="onOpen()"
  background="true"
  secondLevel="true"
  bodyClass="noselect modal-confirm">

  <div
    *ngIf="serverToDelete"
    style="text-align: left; line-height: 1.5; padding: 0.526315789em;">

      <div
        *ngIf="!error"
        ngPreserveWhitespaces
        style="display: inline-block;">
        
          Are you sure you want to delete NetWitness service "<b class="selectable">{{serverToDelete.friendlyName}}</b>" ?
        
      </div>

      <div
        *ngIf="error"
        style="white-space: pre-line;"
        ngPreserveWhitespaces>
        
          The server reported an error when deleting the collection:

          <b>{{error}}</b>

      </div>

  </div>

  <div style="float: right; padding-top: 0.526315789em;">

    <p-button
      type="button"
      (onClick)="confirmDelete()"
      label="Confirm">
    </p-button>
    
    &nbsp;

    <p-button
      type="button"
      (onClick)="cancelDelete()"
      label="Cancel">
    </p-button>

  </div>

</modal>