<modal
  id="{{id}}"
  background="true"
  secondLevel="true"
  modalClass="confirm-user-delete-modal"
  bodyClass="confirm-user-delete-modal-body noselect modal-confirm">

  <div *ngIf="user">
    Are you sure you want to delete user <b>{{user.username}}?</b>
  </div>

  <div style="float: right; padding-top: 0.526315789em;">

    <p-button
      (onClick)="confirmDelete()"
      label="Confirm">
    </p-button>
    
    &nbsp;

    <p-button
      (onClick)="cancelDelete()"
      label="Cancel">
    </p-button>

  </div>

</modal>