<modal
  id="{{id}}"
  class="confirm-feed-delete-modal"
  background="true"
  secondLevel="true"
  bodyClass="noselect modal-confirm">

    <div style="text-align: left; line-height: 1.5; padding: 0.526315789em;">

      <div *ngIf="feed && !error">

        Are you sure you want to delete feed "<b>{{feed.name}}</b>" ?

      </div>

      <div
        *ngIf="error"
        style="position: relative; top: 0.263157895em; white-space: pre-line;">

          The server reported an error when deleting the feed:

          <b>{{error}}</b>

      </div>

    </div>

    <div style="float: right; margin-top: 0.789473684em;">

      <p-button
        type="button"
        (onClick)="onConfirmDelete()"
        label="Confirm">
      </p-button>
      
      &nbsp;
      
      <p-button
        type="button"
        (onClick)="cancelDelete()"
        label="Cancel">
      </p-button>

    </div>

</modal>