:host {
  width: auto;
  height: auto;

  padding: 0.263157895em;
  border-radius: .45rem;
  background-color: rgba(0,0,0,.8);
  color: white;
  font-size: .8em; // 9pt???
}

.count {
  margin-top: 0.789473684em; /*15px*/
  text-align: right;
}