<div
  class="brickOuterDiv"
  *ngIf="session"
  [style.width.px]="masonryColumnWidth">

  <div
    class="image-area border"
    [ngClass]="extraClass">

      <!-- the image itself -->
      <img
        #image
        class="separator"
        (load)="onImageLoaded()"
        (error)="onImageError()"
        [src]="imageSource"
        draggable="false">

      
      <div
        *ngIf="displayTextArea"
        class="image-overlay flex flex-column justify-content-between">

        <!-- Header -->
        <div class="header flex justify-content-between align-items-top">

          <!-- time -->
          <span>

            <span class="overlay-item selectable">
              {{
                serviceType === 'nw'
                  ? (session.meta.time | formatTime)
                  : (session.meta.stop_time | formatSaTime)
              }}
            </span>

          </span>
  
          <!-- file icons and session id -->
          <span>

            <span class="selectable overlay-item">
              {{session.id}}
            </span>

          </span>

          <!-- file type icon overlay -->
          <span
            *ngIf="content.fromArchive || content.isArchive || fileIconClass"
            class="selectable">
  
            &nbsp;
  
            <!-- file archive icon - must be separate from regular icon -->
            <i
              *ngIf="content.fromArchive || content.isArchive"
              class="fa fa-file-archive-o fa-2x overlay-item">
            </i>
  
            <!-- regular file type icon -->
            <i
              *ngIf="fileIconClass"
              class="fa fa-2x file-type-icon overlay-item"
              [ngClass]="fileIconClass">
            </i>
  
          </span>
      
        </div>

        <!-- Footer -->
        <div class="flex">

          <!-- network info -->
          <span
            *ngIf="serviceType === 'nw'"
            class="selectable overlay-item flex-initial">
              {{session.meta['ip.src']}} -> {{session.meta['ip.dst']}}:{{session.meta['tcp.dstport']}}{{session.meta['udp.dstport']}} ~ {{session.meta.service}}
          </span>
  
          <span
            *ngIf="serviceType === 'sa'"
            class="selectable overlay-item flex-initial">
              {{session.meta.initiator_ip}} -> {{session.meta.responder_ip}}:{{session.meta.responder_port}} ~ {{session.meta.protocol_family}}
          </span>

        </div>

      </div>
  
    </div>



    <!-- Bottom Text Area -->
    <div
      *ngIf="displayTextArea"
      class="text-area selectable">
  
        <ul *ngIf="textAreaList.length !== 0">
  
            <li *ngFor="let text of textAreaList">
  
              <span class="bold">
                {{text}}
              </span>
  
            </li>
  
        </ul>
  
        <table>
  
          <tr *ngIf="masonryMeta.length === 0">
  
            <td colspan="2">
  
              <div class="no-meta">
                No relevant meta found for this session.
              </div>
  
            </td>
  
          </tr>
  
          <tr *ngFor="let item of textAreaTableItems">
  
            <td class="meta-key">
              {{item.key}}
            </td>
  
            <td class="value">
              {{item.value}}
            </td>
  
          </tr>
          
        </table>
  
    </div>

</div>
