<app-toolbar-widget
  [contentCount]="contentCount"
  (displaySplashScreenModal)="displaySplashScreenModal = true"
  (displayPreferencesModal)="displayPreferencesModal = true">
</app-toolbar-widget>



<!-- left bar -->
<div class="masonry-left-bar flex flex-column justify-content-between align-items-center">

  <!-- control bar -->
  <div class="control-bar-top">

    <app-control-bar-masonry></app-control-bar-masonry>

  </div>

  <!-- pause / resume buttons for monitoring collections -->
  <div
    *ngIf="selectedCollectionType === 'monitoring'"
    class="white"
    style="margin-top: 2rem;">

    <i
      *ngIf="!pauseMonitoring"
      class="fa fa-pause-circle-o fa-4x clickable"
      (click)="suspendMonitoring()">
    </i>

    <i
      *ngIf="pauseMonitoring"
      class="fa fa-play-circle-o fa-4x clickable"
      (click)="resumeMonitoring()">
    </i>

  </div>

  <!-- content count -->
  <app-content-count-widget
    *ngIf="selectedCollectionType"
    [contentCount]="contentCount"
    style="margin-top: auto; margin-bottom: auto;">
  </app-content-count-widget>

  <div></div>

</div>

<!-- Main Masonry Area -->
<div class="masonryViewport">

    <div
      #ScrollContainerRef
      tabindex="-1"
      class="scroll-container noselect">

        <div
          isotope
          #IsotopeContentRef
          *ngIf="isotopeConfig"
          tabindex="-1"
          class="grid isotope-container"
          [config]="isotopeConfig"
          [filter]="filter"
          [addWithLayout]="addWithLayout"
          [layoutCompleteCallback]="layoutCompleteCallback">

            <ng-container *ngIf="content && hasSessions() && masonryKeys && collectionId && selectedCollectionServiceType">

              <app-masonry-tile
                *ngFor="let item of content"
                isotope-brick
                class="brick"
                [collectionId]="collectionId"
                [attr.contentType]="item.contentType"
                [attr.contentSubType]="item.contentSubType ? item.contentSubType : null"
                [attr.fromArchive]="item.fromArchive"
                [content]="item"
                [attr.sessionId]="item.session"
                [sessionId]="item.session"
                [masonryKeys]="masonryKeys"
                [masonryColumnWidth]="masonryColumnWidth"
                [serviceType]="selectedCollectionServiceType"
                [attr.id]="item.id"
                (clicked)="onTileClicked($event)"
                [displayTextArea]="showTextArea">
              </app-masonry-tile>

            </ng-container>

        </div>

    </div>

    <p-scrollPanel-custom
      [scrollbarMovedSubject]="scrollbarMoved"
      [scrollTopChangedSubject]="scrollTopChanged"
      [containerHeightChangedSubject]="containerHeightChanged"
      [contentHeightChangedSubject]="contentHeightChanged">
    </p-scrollPanel-custom>

</div>



<!-- Collections / Feeds Modal-->
<p-dialog
  [visible]="displayTabContainerModal"
  (visibleChange)="onDisplayTabContainerModalChanged($event)"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  maskStyleClass="tab-container-modal"
  styleClass="tab-container-modal-body">

  <app-tab-container-modal></app-tab-container-modal>

</p-dialog>


<!-- Manage Users Modal-->
<p-dialog
  [(visible)]="displayManageUsersModal"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  maskStyleClass="manage-users-modal"
  styleClass="manage-users-modal-body">
    
    <app-manage-users-modal></app-manage-users-modal>

</p-dialog>



<!-- Splash Screeen -->
<p-dialog
  [(visible)]="displaySplashScreenModal"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  [contentStyle]="{padding: '0'}"
  styleClass="no-border-radius">
  
    <app-splash-screen-modal
      [(displaySplashScreenModal)]="displaySplashScreenModal"
      [firstLoad]="firstLoad">
    </app-splash-screen-modal>

</p-dialog>



<!-- Feed Wizard -->
<p-dialog
  [visible]="displayFeedWizardModal"
  (visibleChange)="onDisplayFeedWizardModalChanged($event)"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  maskStyleClass="feed-wizard-modal"
  styleClass="feed-wizard-modal-body">

  <app-feed-wizard-modal *ngIf="displayFeedWizardModal"></app-feed-wizard-modal>

</p-dialog>



<!-- Preferences -->
<p-dialog
  [(visible)]="displayPreferencesModal"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  maskStyleClass="preferences-modal"
  styleClass="preferences-modal-body">

  <app-preferences-modal
    [(displayPreferencesModal)]="displayPreferencesModal">
  </app-preferences-modal>

</p-dialog>



<!-- Content Details -->
<p-dialog
  [(visible)]="displayContentDetailsModal"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  maskStyleClass="content-details-modal-mask"
  styleClass="content-details-modal-body">

    <app-content-details-modal
      *ngIf="selectedCollectionServiceType && collectionId"
      [session]="selectedSession"
      [content]="selectedContent"
      [serviceType]="selectedCollectionServiceType"
      [collectionId]="collectionId"
      [sessionsAvailable]="sessionsAvailable">
    </app-content-details-modal>

</p-dialog>



<!-- NW / SA Collection Modals -->
<p-dialog
  [visible]="displayNwCollectionModal"
  (visibleChange)="onDisplayNwCollectionModalChanged($event)"
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="true"
  [dismissableMask]="false"
  [closable]="true"
  [showHeader]="false"
  maskStyleClass="collection-modal"
  styleClass="collection-modal-body">

  <app-nw-collection-modal>
  </app-nw-collection-modal>

  <!--<app-sa-collection-modal *ngIf="preferences.serviceTypes.sa"></app-sa-collection-modal>-->

</p-dialog>



<p-confirmDialog></p-confirmDialog>