<modal id="{{id}}" (opened)="onOpen()" (cancelled)="cancelledEventReceived()">
  <div class="modal">
    <div class="modal-body" style="width: 500px; max-height: 90%; overflow: auto; top: 5%;">
      <div>
        <h3 style="margin-top:0px; margin-bottom: 10px;">
          <ng-template [ngIf]="mode == 'add'">Create a New Collection</ng-template>
          <ng-template [ngIf]="mode == 'editRolling'">Edit a Collection</ng-template>
          <ng-template [ngIf]="mode == 'editFixed'">Reprocess a Collection</ng-template>
        </h3>
        <fieldset [disabled]="formDisabled" style="border: none; margin: 0; padding: 0;">
        <form #addCollectionForm="ngForm" (ngSubmit)="onCollectionSubmit(addCollectionForm)" novalidate>
        <div>
          <table style="width: 100%;">
            <!--COLLECTION NAME-->
            <tr>
              <td class="column1">
                <b>Name</b>
              </td>
              <td>
                <input #nameBox type="text" name="name" [(ngModel)]="collectionFormModel.name" style="width: 100%;" required>
              </td>
            </tr>
            <!--COLLECTION TYPE (FIXED, ROLLING, OR MONITORING)-->
            <tr>
              <td>
                <b>Type</b>
              </td>
              <td>
                <span *ngIf="mode == 'editRolling' || mode == 'add'"><p-radioButton [disabled]="formDisabled" name="type" value="rolling" label="Rolling" [(ngModel)]="collectionFormModel.type" (onClick)="onUseCaseBoundChanged()" pTooltip="Rolling collections run continuously, displaying results for only the last N hours.  Results that have aged out are removed. Results are updated every minute." tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></p-radioButton>&nbsp;&nbsp;</span>
                
                <span *ngIf="mode == 'editRolling' || mode == 'add'"><p-radioButton [disabled]="formDisabled" name="type" value="monitoring" label="Monitoring" [(ngModel)]="collectionFormModel.type" (onClick)="onUseCaseBoundChanged()" pTooltip="Monitoring collections allow an analyst to monitor content flowing past a certain point in a network, such as a proxy.  Its contents will be replaced every minute, and the view will automatically be scrolled." tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></p-radioButton>&nbsp;&nbsp;</span>

                <span *ngIf="mode != 'editRolling'"><p-radioButton [disabled]="formDisabled" name="type" value="fixed" label="Fixed" [(ngModel)]="collectionFormModel.type" (onClick)="onUseCaseBoundChanged()" pTooltip="Fixed collections are run a single time on a predefined timeframe.  They do not subsequently update." tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></p-radioButton></span>
              </td>
            </tr>
            <!--FIXED TIMEFRAME SELECTOR-->
            <tr *ngIf="collectionFormModel.type == 'fixed'">
              <td class="column1">
                <b>Timeframe</b>
              </td>
              <td>
                <select name="timeFrame" style="width: 125px;" [(ngModel)]="selectedTimeframe" (ngModelChange)="timeframeSelected($event)">
                  <option *ngFor="let t of timeframes">{{t}}</option>
                </select>
              </td>
            </tr>
            <!--ROLLING HOURS SELECTOR-->
            <tr *ngIf="collectionFormModel.type == 'rolling'">
              <td class="column1">
                <b>Timeframe</b>
              </td>
              <td>
                Last <input type="text" name="lastHours" [(ngModel)]="collectionFormModel.lastHours" style="width: 30px;"> hours
              </td>
            </tr>
            <!--CALENDAR FROM FOR FIXED COLLECTIONS-->
            <tr *ngIf="displayCustomTimeframeSelector && collectionFormModel.type == 'fixed'">
              <td><i>From</i>
              </td>
              <td><p-calendar name="time1" showTime="showTime" showIcon="true" [(ngModel)]="timeBegin" inputStyleClass="ourFont"></p-calendar>
              </td>
            </tr>
            <!--CALENDAR FROM TO FIXED COLLECTIONS-->
            <tr *ngIf="displayCustomTimeframeSelector && collectionFormModel.type == 'fixed'">
              <td><i>To</i>
              </td>
              <td><p-calendar name="time2" showTime="showTime" showIcon="true" [(ngModel)]="timeEnd" inputStyleClass="ourFont"></p-calendar>
              </td>
            </tr>
            <!--CONTENT LIMIT-->
            <tr>
              <td class="column1">
                <span pTooltip="Limits the number of content items to pull into the collection in a single query" tooltipStyleClass="contentLimitDistillationTooltip"><b>Content Limit</b></span>
              </td>
              <td>
                <input type="number" name="contentLimit" [(ngModel)]="collectionFormModel.contentLimit" style="width: 60px;" required>
              </td>
            </tr>
          </table>


          <div class="line-separator"></div>

            <!--USE CASES-->
          <table style="width: 100%;">
            <tr>
              <td class="column1" style="vertical-align: top;">
                <b>Use Case</b>
              </td>
              <td>
                <div style="display: block;">
                  <p-dropdown [disabled]="formDisabled" name="selectedUseCase" [options]="useCaseOptions" [(ngModel)]="collectionFormModel.selectedUseCase" (onChange)="onUseCaseChanged()" placeholder="Custom" autoWidth="false" required [style]="{'width':'100%'}"></p-dropdown>
                </div>
                <div *ngIf="displayUseCaseDescription" class="description-text" style="margin-top: 5px;">
                  {{useCaseDescription}}
                </div>
              </td>
            </tr>
            <!--USE CASE BINDINGS-->
            <tr *ngIf="collectionFormModel.selectedUseCase != 'custom'">
              <td class="column1" style="vertical-align: top;">
                  <b>Use Case Bindings</b>
              </td>
              <td>
                  
                <span><p-radioButton name="useCaseBinding" value="bound" label="Bound" (onClick)="onUseCaseBoundChanged()" [(ngModel)]="collectionFormModel.useCaseBinding" [disabled]="disableBindingControls" pTooltip="If bound, all collection variables will be defined by the pre-defined use case, and no collection options may be customized.  If the OOTB use cases should be updated in a future release, then this collection will automatically use the updated use case." tooltipPosition="top" tooltipStyleClass="addCollectionTooltip"></p-radioButton></span>&nbsp;&nbsp;
                  
                <span><p-radioButton name="useCaseBinding" value="unbound" label="Unbound" (onClick)="onUseCaseBoundChanged()" [(ngModel)]="collectionFormModel.useCaseBinding" [disabled]="disableBindingControls" pTooltip="If unbound, all collection variables will be loaded from the pre-defined use case, and all collection options may be customized.  After the collection is executed, the Use Case type will be 'custom'.  If the OOTB use cases should be updated in a future release, then this collection will NOT receive the updates." tooltipPosition="top" tooltipStyleClass="addCollectionTooltip"></p-radioButton></span>
              </td>
            </tr>
          </table>

          <div class="line-separator"></div>

          <table style="width: 100%;">
            <!--QUERIES-->
            <tr>
              <td class="column1" style="vertical-align: top;">
                <b>Query</b> <span class="fa fa-info-circle fa-fw" pTooltip="The query defines which NetWitnehss sessions to extract content from.  It does not, however, limit the types of content which will be pulled into the collection.  Use Content Types to limit the content types for this collection." tooltipPosition="bottom" escape="false" tooltipStyleClass="addCollectionTooltip"></span>
              </td>
              <td>
                <!--QUERY DROPDOWN-->
                <div *ngIf="!showUseCaseValues">
                  <p-dropdown [disabled]="formDisabled" [options]="queryListOptions" [(ngModel)]="selectedQuery" (onChange)="onQuerySelected()" [ngModelOptions]="{standalone: true}" autoWidth="false" [style]="{'width':'100%'}"></p-dropdown> <!--we don't give this dropdown a name because the actual collection query value comes from queryInputText-->
                </div>
                <!--QUERY TEXT INPUT BOX-->
                <div>
                  <input type="text" name="query" [(ngModel)]="queryInputText" style="width: 100%; box-sizing: border-box;" value="vis.level exists" required [disabled]="showUseCaseValues || formDisabled">
                </div>
              </td>
            </tr>
          </table>

          <div class="line-separator"></div>

          <table style="width: 100%;">
            <!--CONTENT TYPES-->
            <tr>
              <td class="column1" style="vertical-align: top;">
                <span pTooltip="Limits the collection to specific types of content returned from the query."><b>Content Types</b></span>
              </td>
              <td>
                <div>
                  <p-selectButton name="contentTypes" [options]="contentTypes" [(ngModel)]="collectionFormModel.selectedContentTypes" multiple="multiple" (onChange)="onSelectedTypesChanged()" styleClass="ourFont" required [disabled]="showUseCaseValues || formDisabled"></p-selectButton>
                </div>
                <div *ngIf="!showUseCaseValues" style="margin-top: 3px;">
                  <button type="button" (click)="allTypes()" pButton label="All" [disabled]="showUseCaseValues || formDisabled"></button>
                  <button type="button" (click)="clearTypes()" pButton label="None" [disabled]="showUseCaseValues || formDisabled"></button>
                </div>
              </td>
            </tr>
          </table>

          <div *ngIf="imagesEnabled" class="line-separator"></div>

          <table style="width: 100%;">
            <!--MINIMUM IMAGE DIMENSIONS-->
            <tr *ngIf="imagesEnabled">
              <td class="column1">
                <span pTooltip="Image files with dimensions smaller than this will not be pulled into the collection" tooltipStyleClass="minDimensionsTooltip"><b>Min. Dimensions</b></span>
              </td>
              <td>
                <input type="number" name="minX" [(ngModel)]="collectionFormModel.minX" style="width: 40px;" required> width x &nbsp;<input type="number" name="minY" [(ngModel)]="collectionFormModel.minY" style="width: 40px;" required> height
              </td>
            </tr>
          </table>

          <div *ngIf="(showUseCaseValues && collectionFormModel.distillationEnabled) || !showUseCaseValues && ( pdfsEnabled || officeEnabled )" class="line-separator"></div>
          
          <table style="width: 100%;">
            <!-->TEXT DISTILLATION-->
            <tr *ngIf="(showUseCaseValues && collectionFormModel.distillationEnabled) || !showUseCaseValues && ( pdfsEnabled || officeEnabled )">
              <td class="column1">
                <span pTooltip="Searches documents for text keywords" tooltipStyleClass="textDistillationTooltip"><b>Text Distill</b></span>
              </td>
              <td>
                 <input [(ngModel)]="collectionFormModel.distillationEnabled" type="checkbox" name="distillationEnabled" [disabled]="showUseCaseValues">
              </td>
            </tr>
            <tr *ngIf="collectionFormModel.distillationEnabled && ( pdfsEnabled || officeEnabled )">
              <td>
                <b>Search Terms</b><br><br>
                <span style="font-size: 8pt;">
                  No images or dodgy archives will be returned.<br><br>
                  Case-insensitive.<br><br>
                  One per-line.<br><br>
                  Any term will match.
                </span>
              </td>
              <td>
                <textarea name="distillationTerms" wrap="off" [(ngModel)]="collectionFormModel.distillationTerms" [disabled]="showUseCaseValues" style="width: 100%; height: 200px; resize: vertical;"></textarea>
              </td>
            </tr>
            <!--REGEX DISTILLATION-->
            <tr *ngIf="(showUseCaseValues && collectionFormModel.regexDistillationEnabled) || !showUseCaseValues && ( pdfsEnabled || officeEnabled )">
              <td class="column1">
                <span pTooltip="Searches documents for Regular Expression matches" tooltipStyleClass="regexDistillationTooltip"><b>Regex Distill</b>&nbsp;&nbsp;&nbsp;&nbsp;</span>
              </td>
              <td>
                 <input [(ngModel)]="collectionFormModel.regexDistillationEnabled" type="checkbox" name="regexDistillationEnabled" [disabled]="showUseCaseValues">
              </td>
            </tr>
            <tr *ngIf="collectionFormModel.regexDistillationEnabled && ( pdfsEnabled || officeEnabled )">
              <td>
                <b>Regex Terms</b><span class="fa fa-info-circle fa-fw" #regexInfoIcon escape="false" pTooltip="Uses perl-style regular expressions.<br>Only match functionality is supported.<br>Perl-style modifiers such as 'i' for case-insensitivity are NOT supported.<br>Search only words, and do not use beginning or end of line metacharacters (e.g. '^' or '$').<br>Note that multi-word matches may or may not work, depending on how the document was laid out internally and how the text is generated by 'pdftotext'." tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></span><br><br>
                <span style="font-size: 8pt;">
                  Perl-style Regex.<br><br>
                  No images or dodgy archives will be returned.<br><br>
                  One per-line.<br><br>
                  Any term will match.
                </span>
              </td>
              <td>
                <textarea name="regexDistillationTerms" wrap="off" [(ngModel)]="collectionFormModel.regexDistillationTerms" [disabled]="showUseCaseValues" style="width: 100%; height: 200px; resize: vertical;"></textarea>
              </td>
            </tr>
          </table>

          <div *ngIf="!showUseCaseValues && hashesEnabled" class="line-separator"></div>

          <table style="width: 100%;">
            <!--SHA1 HASHES-->
            <tr *ngIf="!showUseCaseValues && hashesEnabled">
              <td class="column1">
                <span pTooltip="Searches for executables matching a SHA1 hash value" tooltipStyleClass="hashingTooltip"><b>SHA1 Hashing</b></span>
              </td>
              <td>
                 <input [(ngModel)]="collectionFormModel.sha1Enabled" type="checkbox" name="sha1Enabled">
              </td>
            </tr>
            <tr *ngIf="collectionFormModel.sha1Enabled && !showUseCaseValues && hashesEnabled">
              <td>
                <b>SHA1 Hashes</b> <span class="fa fa-info-circle fa-fw" escape="false" [pTooltip]="hashTooltip" tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></span><br><br>
                <span class="wrap" style="font-size: 8pt;">
                  Matches on executables.<br><br>
                  Case-insensitive.<br><br>
                  May be in <b>hash,friendlyName</b> CSV format, or a hash value only.<br><br>
                  One item per-line.
                </span>
              </td>
              <td>
                <textarea name="sha1Hashes" wrap="off" [(ngModel)]="collectionFormModel.sha1Hashes" style="width: 100%; height: 200px; resize: vertical;"></textarea>
              </td>
            </tr>
            <!--SHA256 HASHES-->
            <tr *ngIf="!showUseCaseValues && hashesEnabled">
              <td class="column1">
                <span pTooltip="Searches for executables matching a SHA256 hash value" tooltipStyleClass="hashing256Tooltip"><b>SHA256 Hashing</b></span>
              </td>
              <td>
                 <input [(ngModel)]="collectionFormModel.sha256Enabled" type="checkbox" name="sha256Enabled">
              </td>
            </tr>
            <tr *ngIf="collectionFormModel.sha256Enabled && !showUseCaseValues && hashesEnabled">
              <td>
                <b>SHA256 Hashes</b> <span class="fa fa-info-circle fa-fw" escape="false" [pTooltip]="hashTooltip" tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></span><br><br>
                <span class="wrap" style="font-size: 8pt;">
                  Matches on executables.<br><br>
                  Case-insensitive.<br><br>
                  May be in <b>hash,friendlyName</b> CSV format, or a hash value only.<br><br>
                  One item per-line.
                </span>
              </td>
              <td>
                <textarea name="sha256Hashes" wrap="off" [(ngModel)]="collectionFormModel.sha256Hashes" style="width: 100%; height: 200px; resize: vertical;"></textarea>
              </td>
            </tr>
            <!--MD5 HASHES-->
            <tr *ngIf="!showUseCaseValues && hashesEnabled">
              <td class="column1">
                <span pTooltip="Searches for executables matching a MD5 hash value" tooltipStyleClass="hashingTooltip"><b>MD5 Hashing</b></span>
              </td>
              <td>
                 <input [(ngModel)]="collectionFormModel.md5Enabled" type="checkbox" name="md5Enabled">
              </td>
            </tr>
            <tr *ngIf="collectionFormModel.md5Enabled && !showUseCaseValues && hashesEnabled">
              <td>
                <b>MD5 Hashes</b> <span class="fa fa-info-circle fa-fw" escape="false" [pTooltip]="hashTooltip" tooltipPosition="bottom" tooltipStyleClass="addCollectionTooltip"></span><br><br>
                <span class="wrap" style="font-size: 8pt;">
                  Matches on executables.<br><br>
                  Case-insensitive.<br><br>
                  May be in <b>hash,friendlyName</b> CSV format, or a hash value only.<br><br>
                  One item per-line.
                </span>
              </td>
              <td>
                <textarea name="md5Hashes" wrap="off" [(ngModel)]="collectionFormModel.md5Hashes" style="width: 100%; height: 200px; resize: vertical;"></textarea>
              </td>
            </tr>
          </table>
          <!--SELECT A NETWITNESS SERVICE BOX-->
          <div *ngIf="nwServers" style="position: relative; margin-top: 15px; height: auto; overflow: visible;">
            <h4 style="margin-top: 0px; margin-bottom: 5px;">Select a NetWitness Service</h4>
            
            

            <!--ADD / REMOVE / EDIT NWSERVER BUTTONS-->
              <div style="padding-top: 3px;">
                <span (click)="displayServiceAddBox()" [class.fa-deselect]="formDisabled" class="fa fa-plus fa-1">&nbsp;&nbsp;</span>
                <span (click)="deleteNwServer()" [class.fa-deselect]="formDisabled" class="fa fa-minus fa-1">&nbsp;&nbsp;</span>
                <span *ngIf="selectedNwServer" [class.fa-deselect]="formDisabled" (click)="editNwServer()" class="fa fa-pencil fa-1"></span>
                <span *ngIf="selectedNwServer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button [disabled]="formDisabled || testInProgress" pButton type="button" (click)="testNwServer()" label="Test"> </button>&nbsp;&nbsp;<i [ngClass]="thumbClass" class="fa"></i> {{testError}}</span>
              </div>

              <!--PRIMENG SELECTION LIST-->
              <p-listbox *ngIf="nwServers" [disabled]="formDisabled" [(ngModel)]="selectedNwServer" [style]="{'width': '100%'}" [listStyle]="{'height': '100px'}" name="nwserver" [options]="nwServersOptions"></p-listbox>

            <!--EXECUTE OR CANCEL BUTTONS-->
            <div style="margin-top: 5px; float: right;">
              <button pButton type="submit" [disabled]="!nwServerFormValid()" label="Execute"></button>
              <button pButton type="button" (click)="cancel()" label="Cancel"></button>
            </div>
          </div>
          
        </div>
        </form>
        </fieldset>


        <!--ADD A NETWITNESS SERVICE BOX-->
        <div *ngIf="showNwServiceBox" #addServiceBox style="margin-top: 20px; padding: 5px;">

          <form #addServiceForm="ngForm" (ngSubmit)="addNwServerSubmit(addServiceForm)" novalidate>
            <mat-card>
              <mat-card-content>
                <mat-card-title *ngIf="nwServerMode == 'add'">
                  Add a NetWitness Service
                </mat-card-title>
                <mat-card-title *ngIf="nwServerMode == 'edit'">
                  Edit a NetWitness Service
                </mat-card-title>
                <!--HOSTNAME-->
                <mat-form-field class="full-width">
                  <input #hostName matInput [(ngModel)]="serviceFormModel.hostname" type="text" name="hostname" placeholder="Hostname" required>
                  <mat-error *ngIf="!serviceFormModel.hostname">Hostname is required</mat-error>
                </mat-form-field>
                <!--USERNAME-->
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="serviceFormModel.user" type="text" name="user" required placeholder="Username">
                  <mat-error *ngIf="!serviceFormModel.user">Username is required</mat-error>
                </mat-form-field>
                <!--PASSWORD-->
                <mat-form-field class="full-width">
                  <input matInput [(ngModel)]="serviceFormModel.password" type="password" name="password" placeholder="Password" [required]="passwordRequired">
                  <mat-error *ngIf="nwServerMode == 'add' && !serviceFormModel.password">Password is required</mat-error>
                </mat-form-field>
                

                <div fxLayout fxLayoutAlign="left" fxLayoutGap="5%">
                  <div fxFlex="15%">
                    <!--REST PORT-->
                    <mat-form-field class="full-width">
                      <input matInput [(ngModel)]="serviceFormModel.restPort" type="number" name="restPort" placeholder="REST Port">
                      <mat-error *ngIf="!serviceFormModel.restPort">REST Port is required</mat-error>
                    </mat-form-field>
                  </div>
                  <div fxFlex="15%" fxFlexAlign="center">
                    <!--SSL-->
                    <mat-checkbox labelPosition="after" [(ngModel)]="serviceFormModel.ssl" type="checkbox" name="ssl">SSL</mat-checkbox>
                  </div>
                  <div fxFlex="20%">
                    <!--INVESTIGATION DEVICE ID-->
                    <mat-form-field class="full-width" pTooltip="In NetWitness, every core service is assigned a numeric identifier, which is used to browse that specific service in Investigation.  You can find the ID for your device by browsing to Investigation in NetWitness, selecting this service, and viewing the URL.  The URL will look like https://hostname/investigation/<DEVICENUMBER>" showDelay="1000" hideDelay="1000" tooltipStyleClass="investigationTooltip">
                      <input matInput [(ngModel)]="serviceFormModel.deviceNumber" type="number" name="deviceNumber" placeholder="Investigation ID" required>
                      <mat-error *ngIf="!serviceFormModel.deviceNumber">Investigation ID is required</mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <!--SAVE SERVICE OR TEST OR CANCEL-->
                <mat-card-actions align="end">
                  <button mat-button type="button" (click)="testNwServer()" [disabled]="!addServiceFormValid(addServiceForm) || testInProgress" color="accent">Test</button> 
                  <button mat-button type="submit" [disabled]="!addServiceFormValid(addServiceForm)">{{nwServerButtonText}}</button> 
                  <button mat-button type="button" (click)="hideServiceAddBox()">Cancel</button>
                </mat-card-actions>

                <div *ngIf="thumbClassInForm" style="text-align: right;">{{testErrorInForm}} <i style="vertical-align: top;" [ngClass]="thumbClassInForm" class="fa fa-lg"></i></div>

              </mat-card-content>
            </mat-card>
          </form>

        </div>
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
<confirm-nwserver-delete-modal></confirm-nwserver-delete-modal>
