<div *ngIf="isMobile">
  So sorry, but mobile devices aren't supported by Atomic Fishbowl.
</div>

<ng-container *ngIf="!isMobile">

  <app-eula *ngIf="!eulaAccepted"></app-eula>

  <ng-container *ngIf="eulaAccepted">

    <div
      *ngIf="serverReachable"
      style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; overflow: hidden;">

        <app-login-form *ngIf="credentialsChecked && !loggedIn"></app-login-form>

        <ng-container *ngIf="loggedIn && socketUpgraded">

          <router-outlet></router-outlet>

          <img
            class="noselect"
            src="/resources/logo.png"
            style="position: absolute; left: 0.526315789em; bottom: 0.789473684em;">

        </ng-container>

    </div>

    <p-confirmDialog [key]="confirmationKey"></p-confirmDialog>

  </ng-container>

</ng-container>


<!-- Server Down Modal-->
<p-dialog
  [visible]="displayServerDownDialog
  "
  [draggable]="false"
  [modal]="true"
  [blockScroll]="true"
  [closeOnEscape]="false"
  [dismissableMask]="false"
  [closable]="false"
  [showHeader]="false"
  [contentStyle]="{padding: '0'}">

  <app-serverdown-modal></app-serverdown-modal>

</p-dialog>