<modal id="{{id}}" (opened)="onOpen()" (cancelled)="cancelledEventReceived()">
  <div class="modal">
    <div class="modal-body" style="left: 50px; right: 50px; top: 50px; bottom: 50px; position: absolute;" >

      <!--close button-->
      <div *ngIf="!firstOpen" (click)="closeModal()" style="position: absolute; top: 2px; right: 5px; z-index: 100; color: black;" class="fa fa-times-circle-o fa-2x"></div>
      
      <!--header-->
      <h2 style="margin-top: 0px; margin-bottom: 5px;">Collections</h2>

      <!--buttons-->
      <!--<button [disabled]="formDisabled || testInProgress" pButton type="button" (click)="testNwServer()" label="Test"> </button>-->
      <div style="position: absolute; left: 170px; top: 13px;">
        <button pButton type="button" (click)="newCollection()" label="New Collection"></button>
      </div>

      <!--collections container-->
      <div style="position: absolute; top: 50px; bottom: 10px; left: 20px; right: 20px; overflow: auto;">
        <div class="table" style="width: 100%; margin: auto;">

          <div class="header">
            <div class="row">
              <div class="header-cell">Name</div>
              <div class="header-cell">Type</div>
              <div class="header-cell">NW Server</div>
              <div class="header-cell center">Actions</div>
            </div>
          </div>

          <div [dragula]='"first-bag"' class="row-group">
            <div class="row grabbable" *ngFor="let collection of collections">
              <div class="cell"><span class="link">{{collection.name}}</span></div>
              <div class="cell">{{utils.capitalizeFirstLetter(collection.type)}}</div>
              <div class="cell">{{getNwServerString(collection.nwserver)}}</div>
              <div class="cell center" style="cursor: initial;">
                <span class="fa fa-pencil" (click)="displayUserEditBox(user)"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-trash" (click)="deleteUser(user.id)"></span>
              </div>
            </div>
          </div>

        </div>
      </div>



    </div>
  </div>
</modal>