<!-- New toolbar, for after we tab-ify-->
<p-toolbar class="collectionsToolbar">
    <div class="ui-toolbar-group-right">
      <button pButton type="button" (click)="onAddCollectionClick()" label="New Collection"></button>
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
        <input name="filter" type="text" size="60" type="text" placeholder="Filter" [(ngModel)]="filterText" (ngModelChange)="filterChanged()">
        <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="clearFilter()"></button>
      </div>
    </div>
  </p-toolbar>


<div *ngIf="collections && collections.length == 0"><p>No collections are defined</p></div>

<!--collections container-->
<div *ngIf="collections && collections.length > 0" style="position: relative; top: 25px; width: 100%;">
  <div class="table tabTable" style="width: 100%; margin: auto;">

    <div class="header">
      <div class="row">
        <div class="header-cell">Collection Name</div>
        <div class="header-cell">Type</div>
        <div class="header-cell">NW Server</div>
        <div class="header-cell">Created</div>
        <div class="header-cell">Last Modified</div>
        <div class="header-cell center">Actions</div>
      </div>
    </div>

    <div [dragula]='"first-bag"' class="row-group">
      <div class="row" *ngFor="let collection of displayedCollections">
        <div class="cell">
          <span *ngIf="collection.type == 'fixed' || nwServerExists(collection.nwserver)" class="link" (click)="onCollectionClicked(collection)">{{collection.name}}</span>
          <span *ngIf="collection.type != 'fixed' && !nwServerExists(collection.nwserver)" class="no-nw-server">{{collection.name}}</span>
        </div>
        <div class="cell">{{utils.capitalizeFirstLetter(collection.type)}}</div>
        <div class="cell">{{getNwServerString(collection.nwserver)}}</div>
        <div class="cell">
          <span *ngIf="collection.creator">{{collection.creator.timestamp | date:'y/MM/d HH:mm'}} by {{collection.creator.username}}</span>
        </div>
        <div class="cell">
            <span *ngIf="collection.modifier">{{collection.modifier.timestamp | date:'y/MM/d HH:mm'}} by {{collection.modifier.username}}</span>
            <span *ngIf="!collection.modifier">-</span>
          </div>
        <div class="cell center" style="cursor: initial;">
          <span class="fa fa-pencil" (click)="onEditCollectionClick(collection)"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-trash" (click)="onDeleteCollectionClick(collection)"></span>
        </div>
      </div>
    </div>

  </div>
</div>


<add-collection-modal [id]="addCollectionModalId"></add-collection-modal>
<delete-collection-confirm-modal></delete-collection-confirm-modal>