<!-- Toolbar -->
<p-toolbar *ngIf="preferences && license" styleClass="collectionsToolbar">
  <p-button *ngIf="preferences.serviceTypes.nw" type="button" (onClick)="onAddNwCollectionClick()" label="New Collection" [disabled]="!license.valid"></p-button>
  <p-button *ngIf="preferences.serviceTypes.sa" type="button" (onClick)="onAddSaCollectionClick()" label="New Collection" [disabled]="!license.valid"></p-button>
  &nbsp;&nbsp;
  <div class="ui-toolbar-group-right">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input pInputText name="filter" type="text" size="60" type="text" placeholder="Filter" [(ngModel)]="filterText" (ngModelChange)="filterChanged()">
      <button pButton type="button" icon="pi pi-times" class="ui-button-danger" (click)="clearFilter()"></button>
    </div>
  </div>
</p-toolbar>

<div *ngIf="collections && collections.length == 0"><p>No collections are defined</p></div>

<!--collections container-->
<div *ngIf="displayedCollections && displayedCollections.length > 0 && preferences && license" style="position: relative; width: 100%; margin-bottom: 25px; height: 100%; overflow: auto;">
  <div class="table tabTable" style="width: 100%; margin: auto;">

    <div class="header noselect">
      <div class="row">
        <div class="header-cell">Collection Name</div>
        <div class="header-cell">Type</div>
        <div class="header-cell">State</div>
        <div class="header-cell">API Endpoint</div>
        <div class="header-cell">Created</div>
        <div class="header-cell">Last Modified</div>
        <div class="header-cell center">Actions</div>
      </div>
    </div>
    
    <div [dragula]='"first-bag"' [dragulaModel]="displayedCollections" class="row-group">
      <div class="row" *ngFor="let collection of displayedCollections" [class.nodrag]="filterEnabled">
        
        <!-- Collection Name for NetWitness -->
        <div *ngIf="collection.serviceType == 'nw'" class="cell">

          <ng-container *ngIf="license.valid; else licenseInvalid">

            <span *ngIf=" ( preferences.serviceTypes.nw && nwServerExists(collection.nwserver) ) ||  ( !preferences.serviceTypes.nw && collection.type == 'fixed' && collection.state =='complete' ) || ( preferences.serviceTypes.nw && collection.type == 'fixed' ) " class="link" (click)="onCollectionExecuted(collection)">{{collection.name}}</span>

            <span *ngIf="( collection.type != 'fixed' && !nwServerExists(collection.nwserver) ) && !( !preferences.serviceTypes.nw && collection.type == 'fixed' && collection.state !='complete' ) && !( !preferences.serviceTypes.nw && collection.type != 'fixed' )" pTooltip="No API endpoint is configured for this collection" class="no-nw-server">{{collection.name}}</span>
          

            <span *ngIf="( !preferences.serviceTypes.nw && collection.type == 'fixed' && collection.state !='complete' ) || ( !preferences.serviceTypes.nw && collection.type != 'fixed' )" pTooltip="NetWitness is not enabled in the preferences" class="no-nw-server">{{collection.name}}</span>

          </ng-container>

          <ng-template #licenseInvalid>

            <ng-container *ngIf="collection.type == 'fixed' && ( collection.state =='complete' || collection.state =='building'); else licenseMessage">
              <span class="link" (click)="onCollectionExecuted(collection)">{{collection.name}}</span>
            </ng-container>

            <ng-template #licenseMessage>
                <span pTooltip="The Atomic Fishbowl license has expired.  Only completed or building fixed collections will be available" class="no-nw-server">{{collection.name}}</span>
            </ng-template>

          </ng-template>
        
        </div>

        <!-- Collection Name for SA -->
        <div *ngIf="collection.serviceType == 'sa'" class="cell">

          <ng-container *ngIf="license.valid; else saLicenseInvalid">

            <span *ngIf=" ( preferences.serviceTypes.sa && saServerExists(collection.saserver) ) ||  ( !preferences.serviceTypes.sa && collection.type == 'fixed' && collection.state =='complete' ) || ( preferences.serviceTypes.sa && collection.type == 'fixed' ) " class="link" (click)="onCollectionExecuted(collection)">{{collection.name}}</span>
            
            <span *ngIf="( !preferences.serviceTypes.sa && collection.type == 'fixed' && collection.state !='complete' ) || ( !preferences.serviceTypes.sa && collection.type != 'fixed' )" pTooltip="Symantec Security Analytics is not enabled in the preferences" class="no-nw-server">{{collection.name}}</span>
            
            <span *ngIf="( collection.type != 'fixed' && !saServerExists(collection.saserver) ) && !( !preferences.serviceTypes.sa && collection.type == 'fixed' && collection.state !='complete' ) && !( !preferences.serviceTypes.sa && collection.type != 'fixed' )" pTooltip="No API endpoint is configured for this collection" class="no-nw-server">{{collection.name}}</span>

          </ng-container>

          <ng-template #saLicenseInvalid>

            <ng-container *ngIf="collection.type == 'fixed' && ( collection.state =='complete' || collection.state =='building'); else saLicenseMessage">
              <span class="link" (click)="onCollectionExecuted(collection)">{{collection.name}}</span>
            </ng-container>

            <ng-template #saLicenseMessage>
                <span pTooltip="The Atomic Fishbowl license has expired.  Only completed or building fixed collections will be available" class="no-nw-server">{{collection.name}}</span>
            </ng-template>

          </ng-template>

        </div>

        <!-- Collection Type -->
        <!-- <div class="cell"><span *ngIf="collection.serviceType == 'nw'">NW</span><span *ngIf="collection.serviceType == 'sa'">SA</span> {{utils.capitalizeFirstLetter(collection.type)}}</div> -->
        <div class="cell">{{utils.capitalizeFirstLetter(collection.type)}}</div>

        <!-- Collection State -->
        <div class="cell">{{utils.capitalizeFirstLetter(collection.state)}}</div>

        <!-- API Endpoint -->
        <div class="cell" *ngIf="collection.serviceType == 'nw'">{{getNwServerString(collection.nwserver)}}</div>
        <div class="cell" *ngIf="collection.serviceType == 'sa'">{{getSaServerString(collection.saserver)}}</div>

        <!-- Creator -->
        <div class="cell">
          <span *ngIf="collection.creator">{{collection.creator.timestamp | date:'y/MM/d HH:mm'}} by {{collection.creator.username}}</span>
        </div>

        <!-- Modifier -->
        <div class="cell">
          <span *ngIf="collection.modifier">{{collection.modifier.timestamp | date:'y/MM/d HH:mm'}} by {{collection.modifier.username}}</span>
          <span *ngIf="!collection.modifier">-</span>
        </div>

        <!-- Actions -->
        <div class="cell center" style="cursor: initial;">
          
          <!-- Edit or Reprocess-->
          <span *ngIf="collection.type == 'fixed'" class="fa fa-repeat" [class.iconDisabled]="!license.valid" (click)="onEditCollectionClick(collection)"></span>
          <span *ngIf="collection.type != 'fixed'" class="fa fa-pencil" [class.iconDisabled]="!license.valid" (click)="onEditCollectionClick(collection)"></span>
          &nbsp;&nbsp;&nbsp;&nbsp;

          <!-- Delete -->
          <span class="fa fa-trash" (click)="onDeleteCollectionClick(collection)"></span>
        </div>
      </div>
    </div>

  </div>
</div>

<delete-collection-confirm-modal></delete-collection-confirm-modal>