<!-- New toolbar, for after we tab-ify-->
<p-toolbar styleClass="feedToolbar">
  <p-button type="button" (onClick)="onAddFeedClick()" label="New Feed"></p-button>
  &nbsp;&nbsp;
  <div class="ui-toolbar-group-right">
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="pi pi-search"></i></span>
      <input pInputText name="filter" type="text" size="60" type="text" placeholder="Filter" [(ngModel)]="filterText" (ngModelChange)="filterChanged()">
      <p-button icon="pi pi-times" class="ui-button-danger" (onClick)="clearFilter()"></p-button>
    </div>
  </div>
</p-toolbar>

<div *ngIf="feeds && feeds.length == 0"><p>No feeds are defined</p></div>

<!--feed container-->
<div *ngIf="displayedFeeds && displayedFeeds.length > 0" style="position: relative; width: 100%; overflow: auto;">
  <div class="feeds-table" style="width: 100%; margin: auto;">

    <!-- table headers -->
    <div class="header">Actions</div>
    <div class="header cell">Feed Name</div>
    <div class="header cell">Type</div>
    <div class="header cell">Status</div>
    <div class="header cell">Schedule</div>
    <div class="header cell">Created</div>
    <div class="header cell">Last Modified</div>

    <!-- loop through collections -->
    <ng-container *ngFor="let feed of displayedFeeds; odd as odd">

      <!-- Actions -->
      <div class="cell center actions" [class.evenRow]="!odd" [class.oddRow]="odd" style="cursor: initial;" [attr.feedId]="feed.id">

        <!-- Delete -->
        <span class="fa fa-trash" (click)="onDeleteFeedClick(feed)"></span>&nbsp;

        <!-- Edit -->
        <span class="fa fa-pencil" (click)="onEditFeedClick(feed)"></span>

      </div>

      <!-- feed name -->
      <div class="cell feedName" [class.evenRow]="!odd" [class.oddRow]="odd" [attr.feedId]="feed.id">{{feed.name}}</div>

      <!-- feed type -->
      <div class="cell" [class.evenRow]="!odd" [class.oddRow]="odd" [attr.feedId]="feed.id">{{utils.capitalizeFirstLetter(feed.type)}}</div>

      <!-- feed status -->
      <div class="cell" [class.evenRow]="!odd" [class.oddRow]="odd" [attr.feedId]="feed.id">
        <span *ngIf="feed.type == 'scheduled' && ifStatusExists(feed.id) && feedStatus[feed.id].good" pTooltip="Last run at {{feedStatus[feed.id]?.time | date: 'short'}}">
          OK
        </span>
        <span *ngIf="feed.type == 'scheduled' && ifStatusExists(feed.id) && !feedStatus[feed.id].good" pTooltip="Last run at {{feedStatus[feed.id]?.time | date: 'short'}}">
          Failed
        </span>
        <span *ngIf="feed.type == 'manual'">-</span>
      </div>

      <!-- feed schedule -->
      <div class="cell" [class.evenRow]="!odd" [class.oddRow]="odd" [attr.feedId]="feed.id">
        <span *ngIf="feed.schedule">
          Every {{feed.schedule.value}} {{feed.schedule.type}}<ng-container *ngIf="feed.schedule.type == 'day'">s</ng-container>
        </span>
        <span *ngIf="!feed.schedule">-</span>
      </div>

      <!-- created -->
      <div class="cell" [class.evenRow]="!odd" [class.oddRow]="odd" [attr.feedId]="feed.id">
        <span *ngIf="feed.creator">{{feed.creator.timestamp | date:'y/MM/d HH:mm'}} by {{feed.creator.username}}</span>
      </div>

      <!-- modified -->
      <div class="cell" [class.evenRow]="!odd" [class.oddRow]="odd" [attr.feedId]="feed.id">
        <span *ngIf="feed.modifier">{{feed.modifier.timestamp | date:'y/MM/d HH:mm'}} by {{feed.modifier.username}}</span>
        <span *ngIf="!feed.modifier">-</span>
      </div>

    </ng-container>

  </div>
</div>

<feed-wizard-modal></feed-wizard-modal>
<confirm-feed-delete-modal></confirm-feed-delete-modal>