<!-- New toolbar, for after we tab-ify-->
<p-toolbar class="feedToolbar">
  <div class="ui-toolbar-group-right">
    <button pButton type="button" (click)="onAddFeedClick()" label="New Feed"></button>
    <div class="ui-inputgroup">
      <span class="ui-inputgroup-addon"><i class="fa fa-search"></i></span>
      <input name="filter" type="text" size="60" type="text" placeholder="Filter" [(ngModel)]="filterText" (ngModelChange)="filterChanged()">
      <button pButton type="button" icon="fa-close" class="ui-button-danger" (click)="clearFilter()"></button>
    </div>
  </div>
</p-toolbar>

<div *ngIf="feeds && feeds.length == 0"><p>No feeds are defined</p></div>

<!--feed container-->
<div *ngIf="feeds && feeds.length > 0" style="position: relative; top: 25px; width: 100%; overflow: auto;">
  <div class="table tabTable" style="width: 100%; margin: auto;">

    <div class="header">
      <div class="row">
        <div class="header-cell">Feed Name</div>
        <div class="header-cell">Type</div>
        <div class="header-cell">Status</div>
        <div class="header-cell">Schedule</div>
        <div class="header-cell">Created</div>
        <div class="header-cell">Last Modified</div>
        <div class="header-cell center">Actions</div>
      </div>
    </div>

    <div class="row-group">
      <div class="row" *ngFor="let feed of displayedFeeds">
        <div class="cell">{{feed.name}}</div>
        <div class="cell">{{utils.capitalizeFirstLetter(feed.type)}}</div>
        <div class="cell">
          <span *ngIf="feed.type == 'scheduled' && ifStatusExists(feed.id) && feedStatus[feed.id].good" pTooltip="Last run at {{feedStatus[feed.id]?.time | date: 'short'}}">
            OK
          </span>
          <span *ngIf="feed.type == 'scheduled' && ifStatusExists(feed.id) && !feedStatus[feed.id].good" pTooltip="Last run at {{feedStatus[feed.id]?.time | date: 'short'}}">
            Failed
          </span>
          <span *ngIf="feed.type == 'manual'">-</span>
        </div>
        <div class="cell">
          <span *ngIf="feed.schedule">
            <span *ngIf="feed.schedule.type == 'hours'">Every {{feed.schedule.value}} hours</span>
            <span *ngIf="feed.schedule.type == 'minutes'">Every {{feed.schedule.value}} minutes</span>
            <span *ngIf="feed.schedule.type == 'day'">Every {{feed.schedule.value}} days</span>
          </span>
          <span *ngIf="!feed.schedule">-</span>
        </div>
        <div class="cell">
          <span *ngIf="feed.creator">{{feed.creator.timestamp | date:'y/MM/d HH:mm'}} by {{feed.creator.username}}</span>
        </div>
        <div class="cell">
          <span *ngIf="feed.modifier">{{feed.modifier.timestamp | date:'y/MM/d HH:mm'}} by {{feed.modifier.username}}</span>
          <span *ngIf="!feed.modifier">-</span>
        </div>

        <!-- edit / delete buttons -->
        <div class="cell center" style="cursor: initial;">
          <span class="fa fa-pencil" (click)="onEditFeedClick(feed)"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span class="fa fa-trash" (click)="onDeleteFeedClick(feed)"></span>
        </div>
      </div>
    </div>

  </div>
</div>

<feed-wizard-modal [id]="feedWizardModalId"></feed-wizard-modal>
<confirm-feed-delete-modal [id]="deleteFeedModalId"></confirm-feed-delete-modal>