<modal id="{{id}}" (opened)="onOpen()" (cancelled)="onCancel()">
  <div class="modal">
    <!--<div class="modal-body" style="top: 50px; width: 75%; min-width: 800px; max-width: 1280px; height: auto; min-height: 800px; max-height: 95%; overflow: hidden;" >-->
    <div class="modal-body" >

      <!--header-->
      <h2 *ngIf="!editing" style="margin-top: 0px; margin-bottom: 5px; color: rgb(54, 60, 66);">Hash Feed Wizard - New Feed</h2>
      <h2 *ngIf="editing && feed" style="margin-top: 0px; margin-bottom: 5px; color: rgb(54, 60, 66);">Hash Feed Wizard - Editing "{{feed.name}}"</h2>

      <!-- the initial page of the wizard -->
      <div *ngIf="page == 1">
        <form #highLevelDetailsForm="ngForm" (ngSubmit)="pageOneToPageTwoSubmit(highLevelDetailsForm)" novalidate>
          <div class="table">

            <!-- feed name -->
            <div class="row">
              <div class="cell left-column" style="vertical-align: bottom;">Feed Name</div>
              <div class="cell right-column">
                <label *ngIf="!nameValid && name.length != 0" for="feedName" style="font-size: 10pt; color: red;">A feed already exists with this name</label>
                <label *ngIf="name.length == 0" for="nameBox" style="font-size: 10pt; color: red;">The name field is required</label>
                <input type="text" id="feedName" pInputText name="feedName" [(ngModel)]="name" (ngModelChange)="onNameChanged($event)" autocomplete="off" required style="width: 100%;"/>
              </div>
            </div>

            <!-- feed type -->
            <div class="row">
              <div class="cell left-column">Type</div>
              <div class="cell">
                <p-selectButton name="feedType" [options]="feedTypeOptions" [(ngModel)]="type"></p-selectButton>
              </div>
            </div>

            <!-- manual feeds -->
            <div *ngIf="type == 'manual'" class="row">
              <div class="cell left-column">Select File</div>
              <div class="cell">
                <p-fileUpload mode="basic" name="myfiles[]" customUpload="true" (uploadHandler)="uploadHandler($event)" [chooseLabel]="label" auto="auto" accept=".csv" required>filename</p-fileUpload>
              </div>
            </div>

            <!-- scheduled feeds -->

            <!-- URL -->
            <div *ngIf="type == 'scheduled'" class="row">
              <div class="cell left-column">URL</div>
              <div class="cell">
                <input type="text" pInputText name="url" size="100" (ngModelChange)="onUrlChange()" [(ngModel)]="url" autocomplete="off" required/>
                <button pButton type="button" (click)="verifyUrl()" label="Verify" [disabled]="!validateUrlInput() || (!editing && urlAuthentication == 'enabled' && !(urlUser && urlPassword)) || (editing && urlAuthentication == 'enabled' && authChanged && !(urlUser && urlPassword))"></button>
                <span *ngIf="urlVerified && urlVerifyClicked" class="fa fa-thumbs-up"> Success</span>
                <span *ngIf="!urlVerified && urlTested" class="fa fa-thumbs-down"> Failure<span *ngIf="testError">: {{testError}}</span></span>
              </div>
            </div>
          

            <!-- AUTHENTICATION -->
            <div *ngIf="type == 'scheduled'" class="row">
              <div class="cell left-column">Authentication</div>
              <div class="cell">
                  <p-selectButton name="urlAuthentication" [options]="enabledOptions" [(ngModel)]="urlAuthentication" (ngModelChange)="onAuthChanged()"></p-selectButton>
                  <span *ngIf="urlAuthentication == 'enabled'">&nbsp;
                    <span class="ui-float-label">
                      <input type="text" pInputText name="urlUser" id="urlUser" [(ngModel)]="urlUser" autocomplete="off" (ngModelChange)="onAuthChanged()" required/>
                      <label for="urlUser">Username</label>
                    </span>
                    <span class="ui-float-label">
                      <input type="password" pInputText id="urlPassword" name="urlPassword" [(ngModel)]="urlPassword" autocomplete="off" (ngModelChange)="onAuthChanged()"/>
                      <label for="urlPassword">Password</label>
                    </span>
                  </span>
              </div>
            </div>

            <div *ngIf="type == 'scheduled'" class="row">
              <div class="cell left-column">Interval</div>
              <div class="cell">
                <p-selectButton name="selectedSchedule" [options]="intervalOptions" [(ngModel)]="selectedSchedule"></p-selectButton>&nbsp;&nbsp;
                <!-- hours -->
                <div *ngIf="selectedSchedule == 'hours'" style="display: inline-block;">Every <input type="number" name="selectedScheduleHours" pInputText [(ngModel)]="selectedScheduleHours" min="1" max="744" required/> hours</div>
                <!-- minutes -->
                <div *ngIf="selectedSchedule == 'minutes'" style="display: inline-block;"> Every <input type="number" pInputText name="selectedScheduleMinutes" [(ngModel)]="selectedScheduleMinutes" min="1" max="86400" required/> minutes</div>
                <!-- time of day -->
                <div *ngIf="selectedSchedule == 'day'" style="display: inline-block;">Every <input pInputText type="number" name="selectedScheduleDays" [(ngModel)]="selectedScheduleDays" min="1" max="31" required/> days</div>
              </div>
            </div>

          </div>

          <!-- next / cancel buttons -->
          <div style="position: absolute; bottom: 10px; right: 10px;">
            
            <button pButton type="button" (click)="onCancel()" label="Cancel"></button>

            <button *ngIf="type == 'manual'" pButton type="submit" label="Next" [disabled]="!highLevelDetailsForm.valid || lines.length == 0 || !nameValid"></button>
            
            <button *ngIf="type == 'scheduled' && !editing" pButton type="submit" label="Next" [disabled]="!validateUrlInput() || !highLevelDetailsForm.valid || (urlAuthentication == 'enabled' && !(urlUser && urlPassword)) || !urlVerified || !nameValid"></button>
            
            <button *ngIf="type == 'scheduled' && editing" pButton type="submit" label="Next" [disabled]="!validateUrlInput() || !highLevelDetailsForm.valid || urlAuthentication == 'enabled' && (!urlPassword && urlChanged) || !urlVerified || !nameValidf"></button>
          </div>
          
        </form>
      </div>

      














      <div *ngIf="page == 2">
        <form #feedDetailsForm="ngForm" (ngSubmit)="pageTwoToPageThreeSubmit(feedDetailsForm)" novalidate>

            <!-- options -->
            <div class="table">
            
              <!-- feed type -->
              <div class="row">
                <div class="cell left-column">CSV Delimiter</div>
                <div class="cell" style="width: 100%;">
                  <input type="text" pInputText name="delimiter" [(ngModel)]="delimiter" (ngModelChange)="delimiterChanged()" size="1" maxlength="1" required/>
                </div>
              </div>

              <!-- has header row -->
              <div class="row">
                <div class="cell left-column">Header Row</div>
                <div class="cell" style="width: 100%;">
                  <p-checkbox name="hasHeader" [(ngModel)]="hasHeader" binary="true"></p-checkbox>
                </div>
              </div>
            
            </div>

            <p></p>

            <div style="overflow-x: auto;">

              <!-- display the feed -->
              <div class="table csv-table" *ngIf="lines" style="width: 99%;">

                <!-- header -->
                <div class="header">
                  <div class="row">
                    <div class="header-cell left-column" style="font-style: italic;">Row Num.</div>
                    <div *ngFor="let column of columnNumArr; let i = index" class="header-cell left-column">
                      <div pDroppable="columnIdentifier" (onDrop)="onDrop($event, i)">
                        <span>Column {{column}}</span>
                        <span *ngIf="columnDropPort && columnDropPort[i]?.enabled">
                          <button pButton icon="fa fa-fw fa-close" iconPos="right" [label]="columnDropPort[i].columnId.name" (click)="onDeselectColumnId(i)" style="vertical-align: top;"></button>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- data -->
                <div class="row-group">

                  <div *ngFor="let line of lines; let i = index" class="row" [class.csv-header]="hasHeader && i == 0">

                    <div *ngIf="!hasHeader" class="cell">
                      {{i + 1}}
                    </div>
                    <div *ngIf="hasHeader" class="cell">
                      <span *ngIf="i == 0">Header</span>  
                      <span *ngIf="i > 0">{{i}}</span>
                    </div>

                    <!--<div [class.csv-cell]="!hasHeader" class="cell" pDroppable="columnIdentifier" (onDrop)="onDrop($event, 0)">{{line[0]}}</div>-->
                    <div *ngFor="let column of line; let x = index" class="cell csv-cell" pDroppable="columnIdentifier" (onDrop)="onDrop($event, x)">
                      {{column}}
                    </div>
                  </div>
                </div>

              </div>
            </div>

            <p></p>

            <!-- Draggable Column Header Dock -->
            <div style="text-align: center;">
              <div style="display: inline-block; text-align: right;">
                <h3>Column Types</h3>
                Drag each to the appropriate column
              </div>
              &nbsp;&nbsp;&nbsp;
              <div style="display: inline-block;">
                <div style="text-align: left;">
                  <div *ngFor="let columnId of availableColumnIDs" style="margin-bottom: 3px;">
                    <button pButton pDraggable="columnIdentifier" type="button" icon="fa fa-fw fa-check" [label]="columnId.name" (onDragStart)="onDragStart($event,columnId)" (onDragEnd)="onDragEnd($event,columnId)"></button>
                  </div>
                </div>
              </div>
            </div>




          <!-- next / previous buttons -->
          <div style="position: absolute; bottom: 10px; right: 10px;">
            <button pButton type="button" (click)="pageTwoToPageOneSubmit()" label="Previous"></button>
            <button pButton type="submit" label="Next" [disabled]="!feedDetailsForm.valid || !feedDetailsFormValid()"></button>
          </div>

        </form>
      </div>






      <div *ngIf="page == 3">
        <form #confirmForm="ngForm" (ngSubmit)="finalSubmit()" novalidate>

          <h1>Confirm Feed Parameters</h1>

          <div class="table">

            <div class="row">
              <div class="cell left-column bold">
                Feed Name
              </div>
              <div class="cell">
                {{name}}
              </div>
            </div>

          
            <div *ngIf="type == 'manual'" class="row">
              <div class="cell left-column bold">
                CSV Filename
              </div>
              <div class="cell right-column">
                {{filename}}
              </div>
            </div>  

            <div class="row">
              <div class="cell left-column bold">
                Feed Type
              </div>
              <div class="cell right-column">
                {{utils.capitalizeFirstLetter(type)}}
              </div>
            </div>

            <div class="row">
              <div class="cell left-column bold">
                CSV Delimiter
              </div>
              <div class="cell right-column">
                {{delimiter}}
              </div>
            </div>

            <div class="row">
              <div class="cell left-column bold">
                Hash Value
              </div>
              <div class="cell right-column">
                Column {{getColumnNumber('value') + 1}}
              </div>
            </div>

            <div class="row">
              <div class="cell left-column bold">
                Hash Type
              </div>
              <div class="cell right-column">
                Column {{getColumnNumber('type') + 1}}
              </div>
            </div>

            <div class="row">
              <div class="cell left-column bold">
                Friendly Name
              </div>
              <div class="cell right-column">
                <span *ngIf="getColumnNumber('friendly')">Column {{getColumnNumber('friendly') + 1}}</span>
                <span *ngIf="!getColumnNumber('friendly')">Column not assigned</span>
              </div>
            </div>

          </div>

          <div *ngIf="error" style="position: relative; top: 15px;">
            The server returned an error when submitting the feed: {{error}}
          </div>
        
          <!-- next / previous buttons -->
          <div style="position: absolute; bottom: 10px; right: 10px;">
            <button pButton type="button" (click)="pageThreeToPageTwoSubmit()" label="Previous"></button>
            <button pButton type="submit" label="Finish"></button>
          </div>

        </form>
      </div>
















      

    </div>
  </div>
  <div class="modal-background"></div>
</modal>