<table
  *ngIf="license"
  style="width: 100%">

    <tr>

      <td>

        <b>License</b>

      </td>

      <td>

        <span
          [class.licenseValid]="license.valid"
          [class.licenseInvalid]="!license.valid"
          style="font-weight: bold;">
            {{licenseValid}}
        </span>

      </td>

    </tr>

    <tr>

      <td>

        <b>Expiry Date</b>

      </td>

      <td>

        <span>
          {{license.expiryTime | formatTime}}
        </span>

      </td>

    </tr>

</table>