<modal id="{{id}}" (opened)="onOpen()" (closed)="onClosed()" background="true" modalClass="manage-users-modal" bodyClass="mat-app-background manage-users-modal-body">

  <div style="width: 100%;">
    <h3 style="float: left; margin-top: 0; margin-bottom: 0.526315789em;">Manage Users</h3><span *ngIf="errorDefined" style="float: right; text-align: right; color: red;">{{errorMessage}}</span>
    <div>&nbsp;</div>
  </div>

  <div>
    <fieldset style="border: none; margin: 0; padding: 0; width: 100%;">
      <div style="position: relative; overflow: auto;"> <!--max-height: 42.10526316em; min-height: 200px;-->
        <table style="width: 100%;">
          <tr>
            <th align="left">Enabled</th>
            <th align="left">User</th>
            <th align="left">Full Name</th>
            <th align="left">Email</th>
            <th align="center">Actions</th>
          </tr>
          <tr *ngFor="let user of users" class="table-body">
            <td>
              <span *ngIf="!user.enabled" class="fa fa-ban" style="color: red;"></span>
              <span *ngIf="user.enabled" class="fa fa-check" style="color: green;"></span>
            </td>
            <td>{{user.username}}</td>
            <td>{{user.fullname}}</td>
            <td>{{user.email}}</td>
            <td align="center"><span class="fa fa-pencil" (click)="onEditUserClicked(user)"></span>&nbsp;&nbsp;<span class="fa fa-trash" (click)="onDeleteUserClicked(user)"></span></td>
          </tr>
        </table>
      </div>
      <div style="float: left;">
        <p-button type="button" (onClick)="onAddUserClicked()" label="New User"></p-button>
      </div>
      <div style="margin-top: 0.263157895em; float: right;">
        <p-button type="button" (onClick)="close()" label="OK"></p-button>
      </div>
    </fieldset>
    
  </div>

</modal>
<confirm-user-delete-modal [user]="userToDelete"></confirm-user-delete-modal>
<new-edit-user-modal [users]="users" [editingUser]="editingUser" [addingUser]="addingUser"></new-edit-user-modal>