<modal id="{{id}}" (opened)="onOpen()" (cancelled)="cancelledEventReceived()">
  <div class="modal">
    <div class="modal-body mat-app-background manage-users" style="width:800px;">
      <div style="width: 100%;">
        <h3 style="float: left; margin-top:0px; margin-bottom: 10px;">Manage Users</h3><span *ngIf="errorDefined" style="float: right; text-align: right; color: red;">{{errorMessage}}</span>
        <div>&nbsp;</div>
      </div>

      <div>
        <fieldset [disabled]="usersFormDisabled" style="border: none; margin: 0; padding: 0; width: 100%;">
          <div style="position: relative; max-height: 800px; overflow: auto;"> <!--min-height: 200px;-->
            <table style="width: 100%;">
              <tr>
                <th align="left">Enabled</th>
                <th align="left">User</th>
                <th align="left">Full Name</th>
                <th align="left">Email</th>
                <th align="center">Actions</th>
              </tr>
              <tr *ngFor="let user of users" class="table-body">
                <td>
                  <span *ngIf="!user.enabled" class="fa fa-ban" style="color: red;"></span>
                  <span *ngIf="user.enabled" class="fa fa-check" style="color: green;"></span>
                </td>
                <td>{{user.username}}</td>
                <td>{{user.fullname}}</td>
                <td>{{user.email}}</td>
                <td align="center"><span class="fa fa-pencil" (click)="displayUserEditBox(user)"></span>&nbsp;&nbsp;<span class="fa fa-trash" (click)="deleteUser(user.id)"></span></td>
              </tr>
            </table>
          </div>
          <div style="float: left;">
            <button type="button" (click)="displayUserAddBox()">New User</button>
          </div>
          <div style="margin-top: 5px; float: right;">
            <button type="button" (click)="cancel()">OK</button>
          </div>
        </fieldset>




        <div *ngIf="displayUserAddForm" style="padding: 5px;">
          <md-card>
            <md-card-content>
              
              <md-card-title>
                Add a User
              </md-card-title>

              <form class="myForm" [formGroup]="addUserForm" (ngSubmit)="addUserSubmit()" novalidate>

                <md-input-container class="full-width">
                  <input #userInAdd mdInput type="text" formControlName="username" placeholder="Username">
                  <md-error *ngIf="addUserForm.controls['username'].hasError('spaceexists')">Spaces are not permitted in usernames</md-error>
                  <md-error *ngIf="addUserForm.controls['username'].hasError('userexists') && !addUserForm.controls['username'].hasError('spaceexists')">User already exists</md-error>
                  <md-error *ngIf="addUserForm.controls['username'].hasError('minlength') && !addUserForm.controls['username'].hasError('userexists') && !addUserForm.controls['username'].hasError('spaceexists')">Minimum username length is {{minUsernameLength}} characters</md-error>
                </md-input-container>
                
                <md-input-container class="full-width">
                  <input mdInput type="text" formControlName="fullname" placeholder="Full Name">
                </md-input-container>
                
                <md-input-container class="full-width">
                  <input mdInput type="email" formControlName="email" placeholder="Email">
                  <md-error>Not a valid email address format</md-error>
                </md-input-container>
                
                <table class="full-width" formGroupName="passwords">
                  <tr>
                    <td>
                      <md-input-container class="full-width">
                        <input mdInput type="password" formControlName="password" placeholder="Password" [errorStateMatcher]="addUserPasswordMatcher">
                        <md-error *ngIf="addUserForm.controls['passwords'].hasError('nomatch')">  <!-- *ngIf="addUserForm.controls['passwords'].hasError('nomatch')"-->
                          Passwords do not match
                        </md-error>
                        <md-error *ngIf="addUserForm.controls['passwords'].controls['password'].hasError('minlength') && !addUserForm.controls['passwords'].hasError('nomatch')">  <!-- *ngIf="addUserForm.controls['passwords'].hasError('nomatch')"-->
                          Minimum password length is {{minPasswordLength}}
                        </md-error>
                      </md-input-container>
                    </td>
                    <td>
                      <md-input-container class="full-width">
                        <input mdInput type="password" formControlName="passwordConfirm" placeholder="Confirm Password">
                      </md-input-container>
                    </td>
                  </tr>
                </table>

                <md-checkbox type="checkbox" formControlName="enabled">Enabled</md-checkbox>

                <md-card-actions align="end">
                  <button md-button type="submit" [disabled]="!addUserForm.valid">SAVE</button> <button md-button type="button" (click)="hideUserAddBox()">CANCEL</button>
                </md-card-actions>
              </form>
            </md-card-content>
          </md-card>
        </div>


        <div *ngIf="displayUserEditForm" style="padding: 5px;">
          <md-card>
            <md-card-content>
              
                <md-card-title>
                  Edit User
                </md-card-title>

              <form class="myForm" [formGroup]="editUserForm" (ngSubmit)="editUserSubmit(editUserForm)" novalidate>

                <md-input-container class="full-width">
                  <input mdInput type="text" formControlName="username" placeholder="Username" readonly>
                </md-input-container>

                <md-input-container class="full-width">
                  <input #userInEdit mdInput type="text" formControlName="fullname" placeholder="Full Name">
                </md-input-container>
                
                <md-input-container class="full-width">
                  <input mdInput type="email" formControlName="email" placeholder="Email">
                  <md-error>Not a valid email address format</md-error>
                </md-input-container>

                <table class="full-width" formGroupName="passwords">
                  <tr>
                    <td>
                      <md-input-container class="full-width">
                        <input mdInput type="password" formControlName="password" placeholder="Password" [errorStateMatcher]="editUserPasswordMatcher">
                        <md-error *ngIf="editUserForm.controls['passwords'].hasError('nomatch')">  <!-- *ngIf="addUserForm.controls['passwords'].hasError('nomatch')"-->
                          Passwords do not match
                        </md-error>
                        <md-error *ngIf="editUserForm.controls['passwords'].controls['password'].hasError('minlength') && !editUserForm.controls['passwords'].hasError('nomatch')">  <!-- *ngIf="addUserForm.controls['passwords'].hasError('nomatch')"-->
                          Minimum password length is {{minPasswordLength}}
                        </md-error>
                      </md-input-container>
                    </td>
                    <td>
                      <md-input-container class="full-width">
                        <input mdInput type="password" formControlName="passwordConfirm" placeholder="Confirm Password">
                      </md-input-container>
                    </td>
                  </tr>
                </table>

                  <md-checkbox mdInput type="checkbox" formControlName="enabled">Enabled</md-checkbox>
                  <div class="mat-input-error" *ngIf="editUserForm.controls['enabled'].hasError('isloggedinuser')">  <!-- *ngIf="addUserForm.controls['passwords'].hasError('nomatch')"-->
                    Cannot disable logged-in user
                  </div>

                <md-card-actions align="end">
                  <button md-button type="submit" [disabled]="disableEditUserSubmitButton()">UPDATE</button> <button md-button type="button" (click)="hideUserEditBox()">CANCEL</button>
                </md-card-actions>

              </form>
            </md-card-content>
          </md-card>
        </div>

        
      </div>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
<confirm-user-delete-modal></confirm-user-delete-modal>
