<modal
  id="{{id}}"
  background="true"
  secondLevel="true"
  modalClass="new-edit-nw-server-modal"
  bodyClass="noselect new-edit-nw-server-modal-body"
  (opened)="onOpened()">

    <!--ADD A NETWITNESS SERVICE BOX-->
    <div
      #addServiceBox
      style="margin-top: 1.052631579em;">

        <form
          #addServiceForm="ngForm"
          (ngSubmit)="addApiServerSubmit(addServiceForm)"
          novalidate>

            <mat-card style="padding: 0.657894737em;">

              <mat-card-content>

                <mat-card-title *ngIf="addingService">
                  Add a NetWitness Service
                </mat-card-title>

                <mat-card-title *ngIf="!addingService">
                  Edit a NetWitness Service
                </mat-card-title>

                <!--HOSTNAME-->
                <div>
                 
                  <mat-form-field class="full-width">

                    <input
                      #hostName matNativeControl
                      [(ngModel)]="serviceFormModel.hostname"
                      type="text"
                      name="hostname"
                      autocomplete="off"
                      required>

                    <mat-label>Hostname</mat-label>

                    <mat-error *ngIf="!serviceFormModel.hostname">
                      Hostname is required
                    </mat-error>

                  </mat-form-field>

                  <br>

                </div>

                <!--USERNAME-->
                <div>

                  <mat-form-field class="full-width">

                    <input
                      matNativeControl
                      [(ngModel)]="serviceFormModel.user"
                      type="text"
                      name="user"
                      autocomplete="off"
                      required>

                    <mat-label>Username</mat-label>

                    <mat-error *ngIf="!serviceFormModel.user">
                      Username is required
                    </mat-error>

                  </mat-form-field>
                  
                  <br>

                </div>

                <!--PASSWORD-->
                <div>

                  <mat-form-field class="full-width">

                    <input
                      matNativeControl
                      [(ngModel)]="serviceFormModel.password"
                      type="password"
                      name="password"
                      [required]="passwordRequired"
                      autocomplete="off">

                    <mat-label>Password</mat-label>

                    <mat-error *ngIf="addingService && !serviceFormModel.password">
                      Password is required
                    </mat-error>

                  </mat-form-field>
                  
                  <br>

                </div>

                <div>

                  <!--REST PORT-->
                    <mat-form-field style="width: 5em;">

                      <input
                        matNativeControl
                        [(ngModel)]="serviceFormModel.restPort"
                        type="number"
                        name="restPort"
                        autocomplete="off"
                        min="0"
                        max="65535">

                      <mat-label>
                        REST Port
                      </mat-label>

                      <mat-error *ngIf="!serviceFormModel.restPort">
                        REST Port is required
                      </mat-error>

                    </mat-form-field>

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <!--SSL-->
                  <mat-checkbox
                    style="vertical-align: baseline;"
                    labelPosition="after"
                    [(ngModel)]="serviceFormModel.ssl"
                    type="checkbox"
                    name="ssl">
                      SSL
                  </mat-checkbox>

                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                  <!--INVESTIGATION DEVICE ID-->
                  <mat-form-field
                    style="width: 6em;"
                    showDelay="1000"
                    hideDelay="1000"
                    tooltipStyleClass="investigationTooltip"
                    pTooltip="In NetWitness, every core service is assigned a numeric identifier, which is used to browse that specific service in Investigation.  You can find the ID for your device by browsing to Investigation in NetWitness, selecting this service, and viewing the URL.  The URL will look like https://hostname/investigation/<DEVICENUMBER> .">

                      <input
                        matNativeControl
                        [(ngModel)]="serviceFormModel.deviceNumber"
                        type="number"
                        name="deviceNumber"
                        autocomplete="off"
                        required>

                      <mat-label>Investigation ID</mat-label>

                      <mat-error *ngIf="!serviceFormModel.deviceNumber">
                        Investigation ID is required
                      </mat-error>

                  </mat-form-field>

                </div>

                <!--SAVE SERVICE OR TEST OR CANCEL-->
                <mat-card-actions align="end">

                  <!-- thumbs-up / thumbs-down icon -->
                  <div
                    *ngIf="thumbClass"
                    style="margin-left: 1em; margin-right: auto; line-height: 1.8em;">
                      
                      {{testError}} 

                      <i
                        style="vertical-align: top;"
                        [ngClass]="thumbClass"
                        class="fa fa-lg">
                      </i>

                  </div>

                  <!-- test button -->
                  <button
                    mat-button
                    type="button"
                    (click)="onTestApiServerClicked()"
                    [disabled]="!addServiceFormValid(addServiceForm) || testInProgress" color="accent">
                      Test
                  </button>

                  <!-- save / update button -->
                  <button
                    mat-button
                    type="submit"
                    [disabled]="!addServiceFormValid(addServiceForm)">
                      {{apiServerButtonText}}
                  </button>

                  <!-- cancel button -->
                  <button
                    mat-button
                    type="button"
                    (click)="close()">
                      Cancel
                  </button>

                </mat-card-actions>

              </mat-card-content>

            </mat-card>

        </form>

    </div>

</modal>