<modal id="{{id}}" (opened)="onOpen()" (closed)="onClose()" background="true" modalClass="nwCollectionModal" bodyClass="nwCollectionModalBody" bodyStyle="overflow: auto;">
  <div>
    <div>
      <h3 style="margin-top: 0; margin-bottom: 0.526315789em;">
        <ng-container *ngIf="mode === modes.add">Create a NetWitness Collection</ng-container>
        <ng-container *ngIf="mode === modes.editRolling">Edit a NetWitness Collection</ng-container>
        <ng-container *ngIf="mode === modes.editFixed">Reprocess a NetWitness Collection</ng-container>
        <ng-container *ngIf="mode === modes.adhoc">Create an Ad Hoc NetWitness Collection</ng-container>
      </h3>
      <fieldset style="border: none; margin: 0; padding: 0;">
      <form #addCollectionForm="ngForm" (ngSubmit)="onCollectionSubmit(addCollectionForm)" novalidate>
      <div>
        <table style="width: 100%;">

          <!--COLLECTION NAME-->
          <tr>
            <td class="column1">
              <b>Name</b>
            </td>
            <td>
              <label *ngIf="!nameValid" for="nwNameBox" style="color: red;">{{nameInvalidMessage}}<br></label>
              <!-- (ngModelChange)="onNameChanged()" -->
              <input pInputText #nwNameBox id="nwNameBox" type="text" name="name" (ngModelChange)="onNameChanged($event)" [(ngModel)]="name" style="width: 100%;" autocomplete="off" required>
            </td>
          </tr>

          <!--COLLECTION TYPE (FIXED, ROLLING, OR MONITORING)-->
          <tr>
            <td>
              <b>Type</b>
            </td>
            <td>
              <span *ngIf="mode === modes.editRolling || mode === modes.add"><p-radioButton name="type" value="rolling" label="Rolling" [(ngModel)]="type" (onClick)="onUseCaseBoundChanged()" pTooltip="Rolling collections run continuously, displaying results for only the last N hours.  Results that have aged out are removed. Results are updated every minute." tooltipPosition="bottom" tooltipStyleClass="nwCollectionTooltip"></p-radioButton>&nbsp;&nbsp;</span>
              
              <span *ngIf="mode === modes.editRolling || mode === modes.add"><p-radioButton name="type" value="monitoring" label="Monitoring" [(ngModel)]="type" (onClick)="onUseCaseBoundChanged()" pTooltip="Monitoring collections allow an analyst to monitor content flowing past a certain point in a network, such as a proxy.  Its contents will be replaced every minute, and the view will automatically be scrolled." tooltipPosition="bottom" tooltipStyleClass="nwCollectionTooltip"></p-radioButton>&nbsp;&nbsp;</span>

              <span *ngIf="mode !== modes.editRolling"><p-radioButton name="type" value="fixed" label="Fixed" [(ngModel)]="type" (onClick)="onUseCaseBoundChanged()" pTooltip="Fixed collections are run a single time on a predefined timeframe.  They do not subsequently update." tooltipPosition="bottom" tooltipStyleClass="nwCollectionTooltip"></p-radioButton></span>
            </td>
          </tr>
          <!--FIXED TIMEFRAME SELECTOR-->
          <tr *ngIf="type == 'fixed'">
            <td class="column1">
              <b>Timeframe</b>
            </td>
            <td>
              <p-dropdown name="timeFrame" [options]="timeframeOptions" [style]="{'width': '6.578947368em'}" [(ngModel)]="selectedTimeframe" (onChange)="timeframeSelected($event)" (click)="timeframeClicked()" styleClass="noselect" panelStyleClass="noselect"></p-dropdown>
            </td>
          </tr>
          <!--ROLLING HOURS SELECTOR-->
          <tr *ngIf="type == 'rolling'">
            <td class="column1">
              <b>Timeframe</b>
            </td>
            <td>
              Last <input pInputText type="text" name="lastHours" [(ngModel)]="lastHours" style="width: 1.578947368em;"> hours
            </td>
          </tr>
          <!--CALENDAR FROM FOR FIXED COLLECTIONS-->
          <tr *ngIf="displayCustomTimeframeSelector && type == 'fixed'">
            <td><i>From</i>
            </td>
            <td><p-calendar name="time1" showTime="showTime" showIcon="true" [(ngModel)]="timeBegin" inputStyleClass="ourFont" [selectOtherMonths]="true"></p-calendar>
            </td>
          </tr>
          <!--CALENDAR FROM TO FIXED COLLECTIONS-->
          <tr *ngIf="displayCustomTimeframeSelector && type == 'fixed'">
            <td><i>To</i>
            </td>
            <td><p-calendar name="time2" showTime="showTime" showIcon="true" [(ngModel)]="timeEnd" inputStyleClass="ourFont" [selectOtherMonths]="true"></p-calendar>
            </td>
          </tr>
          <!--CONTENT LIMIT-->
          <tr>
            <td class="column1">
              <span pTooltip="Limits the number of content items to pull into the collection in a single query." tooltipStyleClass="contentLimitDistillationTooltip"><b>Content Limit</b></span>
            </td>
            <td>
              <input pInputText type="number" name="contentLimit" [(ngModel)]="contentLimit" min="1" max="10000" required>
            </td>
          </tr>
        </table>


        <div class="height-separator"></div>

        <!--USE CASES-->
        <table *ngIf="mode !== modes.adhoc" style="width: 100%;">
          <tr>
            <td class="column1" style="vertical-align: top;">
              <b>Use Case</b>
            </td>
            <td>
              <div style="display: block;">
                <p-dropdown name="selectedUseCase" [options]="useCaseOptions" [(ngModel)]="selectedUseCase" (onChange)="onUseCaseChanged()" placeholder="Custom" required [style]="{'width':'100%'}" styleClass="noselect" panelStyleClass="noselect" ></p-dropdown>
              </div>
              <div *ngIf="displayUseCaseDescription" class="usecase-description-text" style="margin-top: 0.263157895em;">
                {{useCaseDescription}}
              </div>
            </td>
          </tr>
          <!--USE CASE BINDINGS-->
          <tr *ngIf="selectedUseCase != 'custom'" [hidden]="type == 'fixed'">
            <td class="column1" style="vertical-align: top;">
                <b>Use Case Bindings</b>
            </td>
            <td>
                
              <span><p-radioButton name="useCaseBinding" value="bound" label="Bound" (onClick)="onUseCaseBoundChanged()" [(ngModel)]="useCaseBinding" [disabled]="disableBindingControls" pTooltip="If bound, all collection variables will be defined by the pre-defined use case, and no collection options may be customized.  If the OOTB use cases should be updated in a future release, then this collection will automatically use the updated use case." tooltipPosition="top" tooltipStyleClass="nwCollectionTooltip"></p-radioButton></span>&nbsp;&nbsp;
                
              <span><p-radioButton name="useCaseBinding" value="unbound" label="Unbound" (onClick)="onUseCaseBoundChanged()" [(ngModel)]="useCaseBinding" [disabled]="disableBindingControls" pTooltip="If unbound, all collection variables will be loaded from the pre-defined use case, and all collection options may be customized.  After the collection is executed, the Use Case type will be 'custom'.  If the OOTB use cases should be updated in a future release, then this collection will NOT receive the updates." tooltipPosition="top" tooltipStyleClass="nwCollectionTooltip"></p-radioButton></span>
            </td>
          </tr>
        </table>

        <div class="height-separator"></div>

        <table style="width: 100%;">
          <!--QUERIES-->
          <tr>
            <td class="column1" style="vertical-align: top;">
              <b>Query</b> <span class="fa fa-info-circle fa-fw" pTooltip="The query defines which NetWitness sessions to extract content from.  It does not, however, limit the types of content which will be pulled into the collection.  Use Content Types to limit the content types for this collection." tooltipPosition="right" escape="false" tooltipStyleClass="nwCollectionTooltip"></span>
            </td>
            <td>
              <!--QUERY DROPDOWN-->
              <div *ngIf="!showUseCaseValues">
                <p-dropdown [options]="queryListOptions" [(ngModel)]="selectedQuery" (onChange)="onQuerySelected()" [ngModelOptions]="{standalone: true}" [style]="{'width':'100%'}" styleClass="noselect" panelStyleClass="noselect"></p-dropdown> <!--we don't give this dropdown a name because the actual collection query value comes from queryInputText-->
              </div>
              <!--QUERY TEXT INPUT BOX-->
              <div>
                  <label *ngIf="mode === modes.adhoc" for="query">The target of your search will be automatically added to the query upon execution</label>
                  <input pInputText type="text" name="query" id="query" [(ngModel)]="queryInputText" style="width: 100%; box-sizing: border-box;" value="vis.level exists" autocomplete="off" required [disabled]="showUseCaseValues">
              </div>
            </td>
          </tr>
        </table>

        <div class="height-separator"></div>

        <table style="width: 100%;">
          <!--CONTENT TYPES-->
          <tr>
            <td class="column1" style="vertical-align: top;">
              <span><b>Content Types</b></span>            
              <span class="fa fa-info-circle fa-fw" pTooltip="Limits the collection to specific types of content returned from the query." tooltipPosition="right" escape="false" tooltipStyleClass="nwCollectionTooltip"></span>
            </td>
            <td>
              <div>
                <p-selectButton name="contentTypes" [options]="contentTypes" [(ngModel)]="selectedContentTypes" multiple="multiple" (onChange)="onSelectedTypesChanged()" styleClass="ourFont noselect" required [disabled]="showUseCaseValues"></p-selectButton>
              </div>
              <div *ngIf="!showUseCaseValues" style="margin-top: 0.157894737em;">
                <p-button type="button" (onClick)="onAllTypesSelected()" label="All" [disabled]="showUseCaseValues"></p-button>&nbsp;<p-button type="button" (onClick)="onClearTypesSelected()" label="None" [disabled]="showUseCaseValues"></p-button>
                &nbsp;&nbsp;<p-checkbox name="onlyContentFromArchives" label="Only content from archives" binary="true" [(ngModel)]="onlyContentFromArchives" pTooltip="If ticked, this option will cause content that is directly returned by the query to be ignored, excepting Dodgy Archives.  Only content contained within ZIP and RAR archives will be processed.  This is needed to exclude Office documents which are not within archives from the results, which get detected as ZIP archives by the upstream service." tooltipStyleClass="nwCollectionTooltip"></p-checkbox>
              </div>
              <div *ngIf="showUseCaseValues" style="margin-top: 0.157894737em;">
                <p-checkbox disabled="true" name="onlyContentFromArchives" label="Only content from archives" binary="true" [(ngModel)]="onlyContentFromArchives" pTooltip="If ticked, this option will cause content that is directly returned by the query to be ignored, excepting Dodgy Archives.  Only content contained within ZIP and RAR archives will be processed.  This is needed to exclude Office documents which are not within archives from the results, which get detected as ZIP archives by the upstream service."></p-checkbox>
              </div>
            </td>
          </tr>
        </table>


        <!--Distillation On / Off-->
        <table style="width: 100%;">
          <tr *ngIf="(showUseCaseValues && distillationEnabled) || !showUseCaseValues && ( pdfsEnabled || officeEnabled )">
            <td class="column1">
              <span><b>Distillation</b></span>
              <span class="fa fa-info-circle fa-fw" pTooltip="Distillation filters collections based on either keywords (text) or regular expressions (Regex) contained within text extracted from its documents.  Only PDF and Office documents that match these will be added to the collection." tooltipPosition="right" escape="false" tooltipStyleClass="nwCollectionTooltip"></span>
            </td>
            <td>
                <p-checkbox [(ngModel)]="distillationEnabled" (ngModelChange)="onDistillationChecked()" binary="true" name="distillationEnabled" [disabled]="showUseCaseValues"></p-checkbox>&nbsp;
                <span>Text</span>&nbsp;&nbsp;
                <p-checkbox [(ngModel)]="regexDistillationEnabled" (ngModelChange)="onDistillationChecked()" binary="true" name="regexDistillationEnabled" [disabled]="showUseCaseValues"></p-checkbox>&nbsp;
                <span>Regex</span>
            </td>
          </tr>
        </table>



        <!-- Hashing Mode -->
        <table style="width: 100%;">
          <tr *ngIf="!showUseCaseValues && hashesEnabled">
            <td class="column1">
              <span pTooltip="Hash values can be specified manually or through a CSV-based feed.  Feeds can be uploaded through the Feeds tab." tooltipStyleClass="hashingTooltip"><b>Hash Source</b></span>
            </td>
            <td>
              <p-radioButton name="hashingMode" [value]="hashingModes.feed" label="Feed" [(ngModel)]="hashingMode"></p-radioButton>&nbsp;&nbsp;
              <p-radioButton name="hashingMode" [value]="hashingModes.manual" label="Manual" [(ngModel)]="hashingMode"></p-radioButton>
            </td>
          </tr>
          <!-- Choose a hash feed -->
          <tr *ngIf="!showUseCaseValues && hashesEnabled && hashingMode === hashingModes.feed">
            <td class="column1">
              <span pTooltip="Choose a CSV feed of hashes. Feeds can be uploaded through the Feeds tab." tooltipStyleClass="hashingTooltip"><b>Choose a Hash Feed</b></span>
            </td>
            <td>
              <p-dropdown name="selectedFeed" [options]="feedOptions" [(ngModel)]="selectedFeed" [style]="{'width':'7.894736842em'}"></p-dropdown>
            </td>
          </tr>
        </table>



        <!-- Hashing Selector -->
        <table style="width: 100%;">
          <tr *ngIf="!showUseCaseValues && hashesEnabled && hashingMode === hashingModes.manual">
            <td class="column1">
              <b>Hash Types</b> <span class="fa fa-info-circle fa-fw" pTooltip="Searches for executables matching a hashed value." tooltipStyleClass="nwCollectionTooltip" tooltipPosition="right" escape="false"></span>
            </td>
            <td>
              <p-checkbox [(ngModel)]="sha1Enabled" binary="true" name="sha1Enabled"></p-checkbox> <span pTooltip="Searches for executables matching a SHA1 hash value." tooltipStyleClass="hashingTooltip"> SHA1</span>&nbsp;
              <p-checkbox [(ngModel)]="sha256Enabled" binary="true" name="sha256Enabled"></p-checkbox> <span pTooltip="Searches for executables matching a SHA256 hash value." tooltipStyleClass="hashingTooltip"> SHA256</span>&nbsp;
              <p-checkbox [(ngModel)]="md5Enabled" binary="true" name="md5Enabled"></p-checkbox> <span pTooltip="Searches for executables matching a MD5 hash value." tooltipStyleClass="hashingTooltip"> MD5</span>&nbsp;
            </td>
          </tr>
        </table>





        <!--EXECUTE OR CANCEL BUTTONS-->
        <div style="margin-top: 0.263157895em; float: right;">
          <!--label=="Execute"-->
          <p-button type="submit" [disabled]="!apiServerSelectionValid() || !nameValid" [label]="okButtonText"></p-button>&nbsp;<p-button type="button" (onClick)="close()" label="Cancel"></p-button>
        </div><br><br><br>

        




        <!-- Tab Container -->
        <p-tabView (onChange)="onTabClicked()">


            <!--SELECT A NETWITNESS SERVICE BOX-->
            <p-tabPanel header="Connection" headerStyleClass="nwCollectionPanelHeader noselect">  
              <div *ngIf="apiServers" style="position: relative; margin-top: 0.789473684em; height: auto; overflow: visible;">
                  <h4 style="margin-top: 0; margin-bottom: 0.263157895em;">Select a NetWitness Service</h4> 
          
                  <!--ADD / REMOVE / EDIT / TEST NWSERVER BUTTONS-->
                    <div style="padding-top: 0.157894737em;">
                      <!-- add button -->
                      <span (click)="onAddNwServiceClicked()" class="fa fa-plus fa-1">&nbsp;&nbsp;</span>
                      <!-- delete button -->
                      <span *ngIf="selectedApiServer" (click)="onDeleteApiServerClicked()" class="fa fa-minus fa-1">&nbsp;&nbsp;</span>
                      <!-- edit button -->
                      <span *ngIf="selectedApiServer" (click)="onEditApiServerClicked()" class="fa fa-pencil fa-1"></span>
                      <!-- test button -->
                      <span *ngIf="selectedApiServer">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<p-button [disabled]="testInProgress" type="button" (onClick)="onTestApiServerClicked()" label="Test"> </p-button>&nbsp;&nbsp;<i [ngClass]="thumbClass" class="fa"></i> {{testError}}</span>
                    </div>
          
                    <!--NetWitness Server List-->
                    <p-listbox *ngIf="apiServers" [(ngModel)]="selectedApiServer" [listStyle]="{'height':'14em'}" [style]="{'width': '100%'}" name="nwserver" styleClass="noselect" [options]="apiServersOptions" (onChange)="onApiServerClicked($event)"></p-listbox>
                  
                </div>
            </p-tabPanel>


            <!--MINIMUM IMAGE DIMENSIONS-->
            <p-tabPanel *ngIf="imagesEnabled" header="Images"  headerStyleClass="nwCollectionPanelHeader noselect">
                <table style="width: 100%;">
                    <tr>
                      <td class="column1">
                        <span pTooltip="Image files with dimensions smaller than this will not be pulled into the collection." tooltipStyleClass="minDimensionsTooltip"><b>Min. Dimensions</b></span>
                      </td>
                      <td>
                        <input pInputText type="number" name="minX" [(ngModel)]="minX" min="100" max="1000" required> width x &nbsp;<input pInputText type="number" name="minY" [(ngModel)]="minY" min="100" max="1000" required> height
                      </td>
                    </tr>
                  </table>
            </p-tabPanel>


            <!--TEXT DISTILLATION-->
            <p-tabPanel *ngIf="distillationEnabled && (pdfsEnabled || officeEnabled)" header="Text Distill" headerStyleClass="nwCollectionPanelHeader noselect">
                <div style="display: flex; height: 100%;">
                  <div style="flex: 0 0 auto; margin-right: 0.263157895em;">
                    <b>Search Terms</b><br><br>
                    <span class="description-text">
                      No images or dodgy archives<br>
                      will be returned.<br><br>
                      Case-insensitive.<br><br>
                      One per-line.<br><br>
                      Any term will match.<br><br><br>
                    </span>
                    </div>
                  <div style="flex: 1 1 auto;">
                    <textarea name="distillationTerms" wrap="off" [(ngModel)]="distillationTerms" [disabled]="showUseCaseValues" style="width: 100%; height: 100%; resize: vertical;"></textarea>
                  </div>
                </div>
            </p-tabPanel> 
            

            <!--REGEX DISTILLATION-->
            <p-tabPanel *ngIf="regexDistillationEnabled && (pdfsEnabled || officeEnabled)" header="Regex Distill" headerStyleClass="nwCollectionPanelHeader noselect">
              <div style="display: flex; height: 100%;">
                <div style="flex: 0 0 auto; margin-right: 0.263157895em;">
                  <b>Regex Terms</b><span class="fa fa-info-circle fa-fw" #regexInfoIcon escape="false" [pTooltip]="regexDistillationTooltipText" tooltipPosition="bottom" tooltipStyleClass="nwCollectionRegexTooltip"></span><br><br>
                  <span class="description-text">
                    Perl-style Regex.<br><br>
                    No images or dodgy archives<br>
                    will be returned.<br><br>
                    Case-insensitive.<br><br>
                    One per-line.<br><br>
                    Any term will match.
                  </span>
                </div>

                <div style="flex: 1 1 auto;">
                  <textarea name="regexDistillationTerms" wrap="off" [(ngModel)]="regexDistillationTerms" [disabled]="showUseCaseValues" style="width: 100%; height: 100%; resize: none;"></textarea>
                </div>

              </div>

            </p-tabPanel>


            <!--SHA1-->
            <p-tabPanel *ngIf="sha1Enabled && !showUseCaseValues && hashesEnabled && hashingMode === hashingModes.manual" header="SHA1" headerStyleClass="nwCollectionPanelHeader noselect">
              <div style="display: flex; height: 100%;">

                <div style="flex: 0 0 auto; margin-right: 0.263157895em;">
                  <b>SHA1 Hashes</b> <span class="fa fa-info-circle fa-fw" escape="false" [pTooltip]="hashTooltip" tooltipPosition="bottom" tooltipStyleClass="nwCollectionRegexTooltip" tooltipPosition="right"></span><br><br>
                  <span class="wrap description-text" [innerHTML]="hashInfoText"></span>
                </div>

                <div style="flex: 1 1 auto;">
                  <textarea name="sha1Hashes" wrap="off" [(ngModel)]="sha1Hashes" style="width: 100%; height: 100%; resize: none;"></textarea>
                </div>

              </div>
            </p-tabPanel>



            <!--SHA256-->
            <p-tabPanel *ngIf="sha256Enabled && !showUseCaseValues && hashesEnabled && hashingMode === hashingModes.manual" header="SHA256" headerStyleClass="nwCollectionPanelHeader noselect">
              <div style="display: flex; height: 100%;">

                <div style="flex: 0 0 auto; margin-right: 0.263157895em;">
                  <b>SHA256 Hashes</b> <span class="fa fa-info-circle fa-fw" escape="false" [pTooltip]="hashTooltip" tooltipPosition="bottom" tooltipStyleClass="nwCollectionRegexTooltip" tooltipPosition="right"></span><br><br>
                  <span class="wrap description-text" [innerHTML]="hashInfoText"></span>
                </div>

                <div style="flex: 1 1 auto;">
                  <textarea name="sha256Hashes" wrap="off" [(ngModel)]="sha256Hashes" style="width: 100%; height: 100%; resize: none;"></textarea>
                </div>

              </div>
            </p-tabPanel>


            <!--MD5-->
            <p-tabPanel *ngIf="md5Enabled && !showUseCaseValues && hashesEnabled && hashingMode === hashingModes.manual" header="MD5" headerStyleClass="nwCollectionPanelHeader noselect">
              <div style="display: flex; height: 100%;">

                <div style="flex: 0 0 auto; margin-right: 0.263157895em;">
                  <b>MD5 Hashes</b> <span class="fa fa-info-circle fa-fw" escape="false" [pTooltip]="hashTooltip" tooltipPosition="bottom" tooltipStyleClass="nwCollectionRegexTooltip" tooltipPosition="right"></span><br><br>
                  <span class="wrap description-text" [innerHTML]="hashInfoText"></span>
                </div>

                <div style="flex: 1 1 auto;">
                  <textarea name="md5Hashes" wrap="off" [(ngModel)]="md5Hashes" style="width: 100%; height: 100%; resize: none;"></textarea>
                </div>

              </div>
            </p-tabPanel>
      
        </p-tabView>

        
      </div>
      </form>
      </fieldset>

    </div>
  </div>

</modal>
<confirm-nwserver-delete-modal [serverToDelete]="selectedApiServer"></confirm-nwserver-delete-modal>
<new-edit-nw-service-modal [selectedApiServer]="selectedApiServer" [addingService]="addingService" (newApiServer)="onNewApiServer($event)"></new-edit-nw-service-modal>