<modal id="{{id}}" (cancelled)="cancelledEventReceived()">
  <div class="modal">
    <div class="modal-body" style="width:500px;" >
      <h3 style="margin-top:0px; margin-bottom: 10px;">Preferences</h3>
      <form #preferencesForm="ngForm" (ngSubmit)="onSubmitPreferences()" novalidate>
      
      <!--Service Type Selector-->
      <table *ngIf="showServiceTypeSelector" style="width: 100%">
          <tr>
            <td>
              <b>Enabled Service Types</b>
            </td>
            <td style="width: 99%;">
              <p-selectButton name="serviceTypeOptions" [options]="serviceTypeOptions" [(ngModel)]="selectedServiceTypes" (ngModelChange)="onServiceTypeChanged()" multiple="multiple"></p-selectButton>
            </td>
          </tr>
      </table>

      <p-tabView [activeIndex]="selectedTabIndex">

          <p-tabPanel header="User" headerStyleClass="noselect nooutline">
              <table style="width: 100%">
    
                <tr>
                  <td>
                    <b>Masonry Column Width</b>
                  </td>
                  <td>
                    <input pInputText type="number" name="masonryColumnWidth" [(ngModel)]="masonryColumnWidth" min="100" max="9999" required> pixels
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Masonry Autoscroll Speed</b>
                  </td>
                  <td>
                    <input pInputText type="number" name="autoScrollSpeed" [(ngModel)]="autoScrollSpeed" min="100" max="999" required> pixels per second
                  </td>
                </tr>
    
              </table>
            </p-tabPanel>

        <p-tabPanel header="Global" headerStyleClass="noselect nooutline">
          <table style="width: 100%">

            <tr>
              <td>
                <b>Default Content Limit</b>
              </td>
              <td>
                <input pInputText type="number" name="defaultContentLimit" [(ngModel)]="preferencesModel.defaultContentLimit" min="1" max="99999" required>
              </td>
            </tr>
            <tr>
              <td>
                <b>Default Min. Dimensions</b>
              </td>
              <td>
                <input pInputText type="number" name="minX" [(ngModel)]="preferencesModel.minX" min="0" max="9999" required> px width x &nbsp;<input type="number" name="minY" [(ngModel)]="preferencesModel.minY" min="0" max="9999" required> px height
              </td>
            </tr>
            <tr>
              <td>
                <b>Default Rolling Hours</b>
              </td>
              <td>
                <input pInputText type="number" name="defaultRollingHours" [(ngModel)]="preferencesModel.defaultRollingHours" min="1" max="999" required>
              </td>
            </tr>
            <tr>
              <td>
                <b>Login Token Expiration</b>
              </td>
              <td>
                <input pInputText type="number" min="1" max="8760" name="tokenExpirationHours" [(ngModel)]="preferencesModel.tokenExpirationHours" style="width: 40px;" required pTooltip="This setting will only impact new logins.  Existing logged-in sessions will not be logged out until their token expires.  Be careful with this.  If you set it too high, newly logged-in clients will not have to login again until their token expires."> hours
              </td>
            </tr>

          </table>
        </p-tabPanel>
      
        <p-tabPanel *ngIf="preferencesModel.serviceTypes.nw" header="RSA NetWitness" headerStyleClass="noselect nooutline">

          <!--NetWitness Preferences-->
          <p *ngIf="!preferencesModel.serviceTypes.nw">
            NetWitness functionality is disabled.
          </p>
          <div *ngIf="preferencesModel.serviceTypes.nw">
              <table style="width: 100%">
                <tr>
                  <td>
                    <b>NetWitness UI URL</b>
                  </td>
                  <td style="width: 99%;">
                    <input type="text" name="url" [(ngModel)]="preferencesModel.nw.url" style="width: 100%;" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Default Query Selection</b>
                  </td>
                  <td>
                    <p-dropdown name="nwDefaultQuerySelection" [options]="defaultNwQueriesOptions" [(ngModel)]="preferencesModel.nw.defaultQuerySelection" required [style]="{'width':'100%'}"></p-dropdown>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Preset Query String</b>
                  </td>
                  <td>
                    <input type="text" name="nwPresetQuery" [(ngModel)]="preferencesModel.nw.presetQuery" style="width: 100%;" required>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Session Limit</b>
                  </td>
                  <td>
                    <input type="number" min="1" max="5000" name="nwSessionLimit" [(ngModel)]="preferencesModel.nw.sessionLimit" style="width: 40px;" required pTooltip="The maximum number of sessions to extract content from."> sessions
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Query Timeout</b>
                  </td>
                  <td>
                    <input type="number" name="nwQueryTimeout" [(ngModel)]="preferencesModel.nw.queryTimeout" style="width: 40px;" required> seconds
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Content Timeout</b>
                  </td>
                  <td>
                    <input type="number" name="nwContentTimeout" [(ngModel)]="preferencesModel.nw.contentTimeout" style="width: 40px;" required> seconds
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Rolling Query Delay</b>
                  </td>
                  <td>
                    <input type="number" min="1" name="nwQueryDelayMinutes" [(ngModel)]="preferencesModel.nw.queryDelayMinutes" style="width: 40px;" required> minutes
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Max Content Errors</b>
                  </td>
                  <td>
                    <input type="number" name="nwMaxContentErrors" [(ngModel)]="preferencesModel.nw.maxContentErrors" style="width: 40px;" required>
                  </td>
                </tr>

                <tr>
                  <td>
                    <b>Summary Meta Keys</b><br><br>
                    <div class="wrap" style="font-size: 10pt; width: 200px;">
                      These are the meta keys which are displayed when viewing only summarised meta in the session view.<br><br>
                      One key per-line.
                    </div>
                  </td>
                  <td>
                    <textarea name="nwDisplayedKeys" wrap="off" [(ngModel)]="displayedNwKeysString" style="width: 100%; height: 200px; resize: vertical;"></textarea>
                  </td>
                </tr>
                <tr>
                  <td>
                    <b>Masonry Meta Keys</b><br><br>
                    <div class="wrap" style="font-size: 10pt; width: 200px;">
                      These define extra meta keys to display on masonry tiles. May be in <b>key,friendlyName</b> CSV format, or a key name only.<br><br>
                      Only keys with values will be displayed.<br><br>
                      One item per-line.
                    </div>
                  </td>
                  <td>
                    <textarea name="nwMasonryKeys" wrap="off" [(ngModel)]="masonryNwKeysString" style="width: 100%; height: 200px; resize: vertical;"></textarea>
                  </td>
                </tr>
              </table>
            </div>
        </p-tabPanel>







        <!-- Solera Preferences -->
        <p-tabPanel *ngIf="preferencesModel.serviceTypes.sa" header="Symantec SA" headerStyleClass="noselect nooutline">
          
          <p *ngIf="!preferencesModel.serviceTypes.sa">
            Security Analytics functionality is disabled.
          </p>
          
          <div *ngIf="preferencesModel.serviceTypes.sa">
            <table style="width: 100%">
              <tr>
                <td>
                  <b>Security Analytics URL</b>
                </td>
                <td style="width: 99%;">
                  <input type="text" name="saUrl" [(ngModel)]="preferencesModel.sa.url" style="width: 100%;" required>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Default Query Selection</b>
                </td>
                <td>
                  <p-dropdown name="saDefaultQuerySelection" [options]="defaultSaQueriesOptions" [(ngModel)]="preferencesModel.sa.defaultQuerySelection" required [style]="{'width':'100%'}"></p-dropdown>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Preset Query String</b>
                </td>
                <td>
                  <input type="text" name="saPresetQuery" [(ngModel)]="preferencesModel.sa.presetQuery" style="width: 100%;" required>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Flow Limit</b>
                </td>
                <td>
                  <input type="number" min="1" max="5000" name="saSessionLimit" [(ngModel)]="preferencesModel.sa.sessionLimit" style="width: 40px;" required pTooltip="The maximum number of flows to extract content from."> flows
                </td>
              </tr>
              <tr>
                <td>
                  <b>Query Timeout</b>
                </td>
                <td>
                  <input type="number" name="saQueryTimeout" [(ngModel)]="preferencesModel.sa.queryTimeout" style="width: 40px;" required> seconds
                </td>
              </tr>
              <tr>
                <td>
                  <b>Content Timeout</b>
                </td>
                <td>
                  <input type="number" name="saContentTimeout" [(ngModel)]="preferencesModel.sa.contentTimeout" style="width: 40px;" required> seconds
                </td>
              </tr>
              <tr>
                <td>
                  <b>Rolling Query Delay</b>
                </td>
                <td>
                  <input type="number" min="1" name="saQueryDelayMinutes" [(ngModel)]="preferencesModel.sa.queryDelayMinutes" style="width: 40px;" required> minutes
                </td>
              </tr>
              <tr>
                <td>
                  <b>Max Content Errors</b>
                </td>
                <td>
                  <input type="number" name="saMaxContentErrors" [(ngModel)]="preferencesModel.sa.maxContentErrors" style="width: 40px;" required>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Summary Meta Keys</b><br><br>
                  <div class="wrap" style="font-size: 10pt; width: 200px;">
                    These are the meta keys which are displayed when viewing only summarised meta in the session view.<br><br>
                    One key per-line.
                  </div>
                </td>
                <td>
                  <textarea name="saDisplayedKeys" wrap="off" [(ngModel)]="displayedSaKeysString" style="width: 100%; height: 200px; resize: vertical;"></textarea>
                </td>
              </tr>
              <tr>
                <td>
                  <b>Masonry Meta Keys</b><br><br>
                  <div class="wrap" style="font-size: 10pt; width: 200px;">
                    These define extra meta keys to display on masonry tiles. May be in <b>key,friendlyName</b> CSV format, or a key name only.<br><br>
                    Only keys with values will be displayed.<br><br>
                    One item per-line.
                  </div>
                </td>
                <td>
                  <textarea name="saMasonryKeys" wrap="off" [(ngModel)]="masonrySaKeysString" style="width: 100%; height: 200px; resize: vertical;"></textarea>
                </td>
              </tr>

            </table>
          </div>

        </p-tabPanel>

      </p-tabView>



      <div style="margin-top: 5px; float: right;">
        <p-button [disabled]="!preferencesModel.serviceTypes.nw && !preferencesModel.serviceTypes.sa" type="submit" label="OK"></p-button>&nbsp;<p-button type="button" (click)="cancel()" label="Cancel"></p-button>
      </div>
      </form>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
