<modal id="{{id}}" (opened)="onOpen()" (cancelled)="cancelledEventReceived()">
  <div class="modal">
    <div class="modal-body" style="width:500px;" >
      <h3 style="margin-top:0px; margin-bottom: 10px;">Preferences</h3>
      <form #preferencesForm="ngForm" (ngSubmit)="submitPreferences(preferencesForm)" novalidate>
      <div>
        <table style="width: 100%">
          <tr>
            <td>
              <b>NetWitness UI URL</b>
            </td>
            <td style="width: 99%;">
              <input type="text" name="nwInvestigateUrl" [(ngModel)]="preferencesModel.nwInvestigateUrl" style="width: 100%;" required>
            </td>
          </tr>
          <tr>
            <td>
              <b>Default Query Selection</b>
            </td>
            <td>
              <select style="width: 100%;" name="defaultQuerySelection" [(ngModel)]="preferencesModel.defaultQuerySelection" required>
                <option *ngFor="let query of defaultQueries" [ngValue]="query.text">{{query.text}}</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>
              <b>Default Query String</b>
            </td>
            <td>
              <input type="text" name="defaultNwQuery" [(ngModel)]="preferencesModel.defaultNwQuery" style="width: 100%;" required>
            </td>
          </tr>

          <tr>
            <td>
              <b>Default Query Timeout</b>
            </td>
            <td>
              <input type="text" name="queryTimeout" [(ngModel)]="preferencesModel.queryTimeout" style="width: 40px;" required> seconds
            </td>
          </tr>
          <tr>
            <td>
              <b>Default Content Timeout</b>
            </td>
            <td>
              <input type="text" name="contentTimeout" [(ngModel)]="preferencesModel.contentTimeout" style="width: 40px;" required> seconds
            </td>
          </tr>
          
          <tr>
            <td>
              <b>Default Image Limit</b>
            </td>
            <td>
              <input type="number" name="defaultImageLimit" [(ngModel)]="preferencesModel.defaultImageLimit" style="width: 100%;" required>
            </td>
          </tr>
          <tr>
            <td>
              <b>Default Min. Dimensions</b>
            </td>
            <td>
              <input type="number" name="minX" [(ngModel)]="preferencesModel.minX" style="width: 40px;" required> width x &nbsp;<input type="number" name="minY" [(ngModel)]="preferencesModel.minY" style="width: 40px;" required> height
            </td>
          </tr>
          <tr>
            <td>
              <b>Default Rolling Hours</b>
            </td>
            <td>
              <input type="number" name="defaultRollingHours" [(ngModel)]="preferencesModel.defaultRollingHours" style="width: 40px;" required>
            </td>
          </tr>
          <tr>
            <td>
              <b>Masonry Column Width</b>
            </td>
            <td>
              <input type="number" name="masonryColumnSize" [(ngModel)]="preferencesModel.masonryColumnSize" style="width: 40px;" required> pixels
            </td>
          </tr>
<!--
          <tr>
            <td>
              <b>Path to GhostScript</b>
            </td>
            <td>
              <input type="text" name="gsPath" [(ngModel)]="preferencesModel.gsPath" style="width: 100%;" required>
            </td>
          </tr>
          <tr>
            <td>
              <b>Path to pdftotext</b>
            </td>
            <td>
              <input type="text" name="pdftotextPath" [(ngModel)]="preferencesModel.pdftotextPath" style="width: 100%;" required>
            </td>
          </tr>
          <tr>
            <td>
              <b>Path to unrar</b>
            </td>
            <td>
              <input type="text" name="unrarPath" [(ngModel)]="preferencesModel.unrarPath" style="width: 100%;" required>
            </td>
          </tr>
-->
          <tr>
            <td>
              <b>Summary Meta Keys</b><br><br>
              <div class="wrap" style="font-size: 10pt; width: 200px;">
                These are the meta keys which are displayed when viewing only summarised meta in the session view.<br><br>
                One key per-line.
              </div>
            </td>
            <td>
              <textarea name="displayedKeys" wrap="off" [(ngModel)]="preferencesModel.displayedKeys" style="width: 100%; height: 200px; resize: vertical;"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <b>Masonry Meta Keys</b><br><br>
              <div class="wrap" style="font-size: 10pt; width: 200px;">
                These define extra meta keys to display on masonry tiles. May be in <b>key,friendlyName</b> CSV format, or a key name only.<br><br>
                Only keys with values will be displayed.<br><br>
                One item per-line.
              </div>
            </td>
            <td>
              <textarea name="masonryKeys" wrap="off" [(ngModel)]="preferencesModel.masonryKeys" style="width: 100%; height: 200px; resize: vertical;"></textarea>
            </td>
          </tr>
        </table>
      </div>
      <div style="margin-top: 5px; float: right;">
        <button type="submit">OK</button>
        <button type="button" (click)="cancel()">Cancel</button>
      </div>
      </form>
    </div>
  </div>
  <div class="modal-background"></div>
</modal>
