<ng-container *ngIf="selectedRoute">

  <!-- collapsed -->
  <span
    *ngIf="!selectionExpanded"
    (click)="expandRouterOptions()"
    [ngClass]="selectedRoute.class"
    class="routerIcon clickable">
  </span>

  <!-- expanded -->
  <div
    *ngIf="selectionExpanded"
    (clickOutside)="collapseRouterOptions()"
    class="flex flex-column row-gap-2">

      <div
        *ngFor="let option of routerOptions"
        class="flex align-items-center column-gap-1"
        (click)="routeSelected(option)">

          <span
            class="routerIcon clickable margin-0"
            [ngClass]="option.class"
            [class.deselect]="selectedRoute.name === option.name"
            [class.not-allowed]="selectedRoute.name === option.name">
          </span>

          &nbsp;

          <span class="white margin-0">
            {{option.tooltip}}
          </span>

    </div>

  </div>

</ng-container>