<!-- (@faderAnimation.done)="onAnimationDone($event)" -->
<div
  #modalRoot
  [@faderAnimation]="enabledTrigger"
  (@faderAnimation.done)="onAnimationDone($event)">

    <!-- background -->
    <div
      *ngIf="background"
      class="modal-background"
      [style]="bypassStyleSanitizer(backgroundStyle)"
      [ngClass]="backgroundClass">
    </div>

    <!-- modal container - takes the entire page -->
    <div
      class="modal"
      [ngClass]="modalClass">

        <!-- modal body -->
        <div
          class="modal-body"
          [ngClass]="bodyClass"
          [style]="bypassStyleSanitizer(bodyStyle)">

            <ng-content></ng-content>

        </div>

    </div>

</div>