/*Material Theme*/
@import '@angular/material/prebuilt-themes/indigo-pink.css';
/*@import '@angular/material/prebuilt-themes/pink-bluegrey.css';*/
/*@import '@angular/material/prebuilt-themes/indigo-pink.css';*/
/*@import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/
/*@import '@angular/material/prebuilt-themes/purple-green.css';*/
@import './font-awesome.css';
@import 'primeng/resources/themes/omega/theme.css';
@import 'primeng/resources/primeng.min.css';
@import 'dragula/dist/dragula.css';

/*APP STYLES (taken from app.less)
----------------------------------------------------------------------------------*/
body {
  font-family: 'Lucida Grande','Lucida Sans Unicode', Arial, Helvetica, sans-serif;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

 .selectable {
  -webkit-touch-callout: auto; /* iOS Safari */
  -webkit-user-select: auto; /* Safari */
  -khtml-user-select: auto; /* Konqueror HTML */
  -moz-user-select: auto; /* Firefox */
  -ms-user-select: auto; /* Internet Explorer/Edge */
  user-select: auto; /* Non-prefixed version, currently supported by Chrome and Opera */
}





/* MODAL STYLES (taken from modal.less)
------------------------------------------------------------------------------------------*/
modal { /*This is the modal frame.  Modals are hidden by default */
  display: none;
}

/*modal .modal {*/
.modal {
  /* modal container fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* z-index must be higher than .modal-background */
  z-index: 1000;

  /* enables scrolling for tall modals */
  overflow: auto;
}

/*modal .modal .modal-body {*/
.modal-body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  background: #fff;

  /* margin exposes part of the modal background */
  /*margin: 40px;*/

  /*tim's changes:*/
  position: relative;
  margin: 0 auto;
  top: 100px;
  background-color: rgba(255,255,255,0.8);
  border-radius: 10px;
  overflow: hidden;
  /*padding-bottom: 5px;*/
}

modal .modal-background {
  /* modal background fixed across whole screen */
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* semi-transparent black  */
  background-color: #000;
  opacity: 0.75;

  /* z-index must be below .modal and above everything else  */
  z-index: 900;
}

body .modal-open {
  /* body overflow is hidden to hide main scrollbar when modal window is open */
  overflow: hidden;
}



/* Session Display Styles */

.metalabel {
  /*color: rgb(118,143,181);*/
  color: white;
  font-weight: bold;
  vertical-align: top;
  font-size: 12px;
}

.metavalue {
  color: white;
  font-size: 10px;
}

.multiValues {
  background-color: rgba(36, 109, 226, 0.65);
  /*background-color: rgb(186, 48, 141);*/
}


/* Fix for PDF horizontal scrollbar */
.ng2-pdf-viewer--zoom {
  overflow-x: visible !important;
}

.wrap {
  word-wrap: break-word;
  white-space: normal;
}

.center-modal {
  position: relative;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ui-widget {
  font-family: system-ui, -apple-system, BlinkMacSystemFont !important;
  font-size: 11px !important;
}

.ui-dropdown::before,
.ui-dropdown::after {
  display: none !important;
}

.investigationTooltip.ui-tooltip .ui-tooltip-text {
  white-space: pre-line;
  width: 375px;
}

.collectionTooltip.ui-tooltip .ui-tooltip-text {
  white-space: pre-line;
  width: 375px;
}


/* MODAL STYLES */

.ui-tabview {
  height: 100% !important;
  position: relative !important;
}

.ui-tabview-panels {
  height: 95% !important;
  position: relative !important;
}

.ui-tabview-panel {
  height: 100% !important;
  position: relative !important;
  /*padding: 0 !important;*/
}


.ui-tabview-selected {
  font-weight: bold !important;
}

/*
.ui-tabview-panel {
  border-left: solid 1px #000 !important;
}*/

/*
.ui-tabview .ui-tabview-nav {
  background: #1976d2!important;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(25, 118, 210);

  margin-bottom: -1px;
  padding: 3px 3px 0 3px!important;
  border-top-right-radius: 4px!important;
  border-top-left-radius: 4px!important;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
*/

.tabTable {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}