.full-width {
  width: 100%;
}

.p-radiobutton-label {
  font-size: .7em;  /*14px*/
}

.p-radiobutton-box.p-state-active {
  background-color: rgb(59, 153, 252);
}

.p-tooltip {
  width: 13.75em; /*275px*/
  word-wrap: normal;
}