<!-- Toolbar -->
<p-toolbar
  *ngIf="preferences"
  styleClass="collectionsToolbar">

    <p-menu
      #menu
      [popup]="true"
      styleClass="collectionMaskMenu"
      [model]="filterMenuItems"
      appendTo="body"
      showTransitionOptions="0s"
      hideTransitionOptions="0s">
    </p-menu>

    <p-button
      icon="pi pi-bars"
      label="Types"
      (onClick)="toggleCollectionMaskMenu($event)">
    </p-button>

    &nbsp;

    <p-button
      *ngIf="preferences.serviceTypes.nw"
      (onClick)="onAddNwCollectionClick()"
      label="New Collection">
    </p-button>

    <p-button
      *ngIf="preferences.serviceTypes.sa"
      (onClick)="onAddSaCollectionClick()"
      label="New Collection">
    </p-button>

    &nbsp;&nbsp;

    <div class="p-toolbar-group-right">

      <div class="p-inputgroup">

        <span class="p-inputgroup-addon">

          <i class="pi pi-search"></i>

        </span>

        <input
          pInputText
          name="filter"
          type="text"
          size="60"
          type="text"
          placeholder="Filter"
          [(ngModel)]="filterText"
          (ngModelChange)="filterChanged()">

        <p-button
          icon="pi pi-times"
          class="p-button-danger"
          (onClick)="clearFilter()">
        </p-button>

      </div>

    </div>

</p-toolbar>



<!-- no collections defined-->
<div
  *ngIf="collections && collections.length === 0"
  class="collectionsContainer">

  <p>No collections are defined</p>

</div>



<!--collections container-->
<div
  *ngIf="displayedCollections && displayedCollections.length > 0 && preferences"
  class="collectionsContainer">
    
    <div
      #collectionsTable
      class="collections-table"
      [dragula]='"first-bag"'>

        <!-- table headers -->
        <div class="header">
          Actions
        </div>

        <div class="header cell">
          Collection Name
        </div>

        <div class="header cell">
          Type
        </div>

        <div class="header cell">
          State
        </div>

        <div class="header cell">
          API Endpoint
        </div>

        <div class="header cell">
          Created
        </div>

        <div class="header cell">
          Last Modified
        </div>

        <!-- loop through collections -->
        <ng-container *ngFor="let collection of displayedCollections; odd as odd">

            <!-- Actions -->
            <div
              class="cell center actions"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              style="cursor: initial;"
              [attr.collectionId]="collection.id">

                <!-- Delete -->
                <span
                  class="fa fa-trash clickable"
                  (click)="onDeleteCollectionClick(collection)">
                </span>
                
                &nbsp;

                <!-- Edit or Reprocess-->
                <span
                  *ngIf="collection.type === 'fixed'"
                  class="fa fa-repeat clickable"
                  (click)="onEditCollectionClick(collection)">
                </span>

                <span
                  *ngIf="collection.type !== 'fixed'"
                  class="fa fa-pencil clickable"
                  (click)="onEditCollectionClick(collection)">
                </span>

            </div>
            


            <!-- Collection Name for NetWitness -->
            <div
              *ngIf="collection.serviceType === 'nw'; else saCollectionName"
              class="cell collectionName"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">

                <ng-container>

                  <!-- drag handle -->
                  <span
                    [class.disabled]="filterEnabled"
                    class="fa fa-bars draggable noselect">
                  </span>
                  
                  &nbsp;

                  <!-- selected collection asterisk -->
                  <span
                    *ngIf="selectedCollection && collection.id === selectedCollection.id"
                    style="line-height: .5; font-size: 2em; font-weight: bold; vertical-align: -.35em;">
                      *&nbsp;
                  </span>

                  <!-- clickable collection name -->
                  <span
                    *ngIf="nwServerExists(collection.nwserver) || collection.type === 'fixed'; else unclickable"
                    class="link"
                    (click)="onCollectionExecuted(collection)">
                      {{collection.name}}
                  </span>

                  <!-- un-clickable collection name -->
                  <ng-template #unclickable>

                    <span
                      pTooltip="No API endpoint is configured for this collection"
                      class="no-nw-server">
                        {{collection.name}}
                    </span>

                  </ng-template>

                </ng-container>
            
            </div>



            <!-- Collection Name for SA -->
            <ng-template #saCollectionName>

              <div
                *ngIf="collection.serviceType === 'sa'"
                class="cell collectionName"
                [class.evenRow]="!odd"
                [class.oddRow]="odd"
                [attr.collectionId]="collection.id">

                  <ng-container>

                    <!-- drag handle -->
                    <span
                      [class.disabled]="filterEnabled"
                      class="fa fa-bars draggable noselect">
                    </span>
                    
                    &nbsp;

                    <!-- selected collection asterisk -->
                    <span
                      *ngIf="selectedCollection && collection.id === selectedCollection.id"
                      style="line-height: .5; font-size: 2em; font-weight: bold; vertical-align: -.35em;">
                        *&nbsp;
                    </span>

                    <!-- clickable collection name -->
                    <span
                      *ngIf="saServerExists(collection.saserver) || collection.type === 'fixed'; else unclickable"
                      class="link"
                      (click)="onCollectionExecuted(collection)">
                        {{collection.name}}
                    </span>
                    
                    <!-- un-clickable collection name -->
                    <ng-template #unclickable>

                      <span
                        pTooltip="No API endpoint is configured for this collection"
                        class="no-nw-server">
                          {{collection.name}}
                      </span>

                    </ng-template>

                  </ng-container>

              </div>

            </ng-template>



            <!-- Collection Type -->
            <div
              class="cell"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">
                {{utils.capitalizeFirstLetter(collection.type)}}
            </div>



            <!-- Collection State -->
            <div
              class="cell"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">
                {{utils.capitalizeFirstLetter(collection.state)}}
            </div>



            <!-- API Endpoint for NW -->
            <div
              *ngIf="collection.serviceType === 'nw'"
              class="cell"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">
                {{getNwServerString(collection.nwserver)}}
            </div>

            <!-- API Endpoint for SA -->
            <div
              class="cell"
              *ngIf="collection.serviceType === 'sa'"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">
                {{getSaServerString(collection.saserver)}}
            </div>



            <!-- Created -->
            <div
              class="cell"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">

              <span *ngIf="collection.creator">
                  {{collection.creator.timestamp | date:'y/MM/d HH:mm'}} by {{collection.creator.username}}
              </span>

            </div>



            <!-- Modified -->
            <div
              class="cell lastModified"
              [class.evenRow]="!odd"
              [class.oddRow]="odd"
              [attr.collectionId]="collection.id">

              <span *ngIf="collection.modifier">
                {{collection.modifier.timestamp | date:'y/MM/d HH:mm'}} by {{collection.modifier.username}}
              </span>

              <span *ngIf="!collection.modifier">
                -
              </span>

            </div>

        </ng-container>

    </div>

</div>


<p-confirmDialog [key]="confirmationKey"></p-confirmDialog>